In [1]:
from pathlib import Path
import datetime as dt
import pandas as pd

In [15]:
fl_ev_df = pd.read_csv(
    Path("../../../data/processed_data/fl_ev_registrations.csv"),
    index_col="registration_date",
    parse_dates=True,
)


print("Shape:", fl_ev_df.shape)
fl_ev_df.sort_values("registration_date")

Shape: (353974, 4)

                  state  zip_code     make               model
registration_date
2018-06-30           FL   33299.0    Tesla             Model X
2018-06-30           FL   32550.0      BMW                  X5
2018-06-30           FL   32550.0    Tesla             Model X
2018-06-30           FL   32550.0    Tesla             Model X
2018-06-30           FL   32550.0    Tesla             Model X
...                 ...       ...      ...                 ...
2021-07-19           FL   34787.0    Volvo        XC90 Plug In
2021-07-19           FL   34997.0    Volvo        XC90 Plug In
2021-07-19           FL   34146.0    Volvo        XC90 Plug In
2021-07-19           FL   34773.0    Volvo        XC90 Plug In
2021-07-19           FL   34136.0  Porsche  Cayenne S E-Hybrid

[353974 rows x 4 columns]

In [16]:
ca_ev_df = pd.read_csv(
    Path("../../../data/processed_data/ca_ev_registrations.csv"),
    index_col="registration_date",
    parse_dates=True,
)

print("Shape:", ca_ev_df.shape)
ca_ev_df.sort_values("registration_date")

Shape: (2542443, 4)

                  state  zip_code    make          model
registration_date
2010-01-01           CA   93599.0   Tesla       Roadster
2010-01-01           CA   93099.0    Ford         Ranger
2010-01-01           CA   93099.0    Ford         Ranger
2010-01-01           CA   93099.0    Ford         Ranger
2010-01-01           CA   93099.0    Ford         Ranger
...                 ...       ...     ...            ...
2020-01-01           CA   94850.0   Tesla        Model 3
2020-01-01           CA   94850.0   Tesla        Model 3
2020-01-01           CA   94850.0   Tesla        Model 3
2020-01-01           CA   94850.0   Tesla        Model 3
2020-01-01           CA   94199.0  Toyota  Prius Plug-in

[2542443 rows x 4 columns]

In [17]:
tx_ev_df = pd.read_csv(
    Path("../../../data/processed_data/tx_ev_registrations.csv"),
    index_col="registration_date",
    parse_dates=True,
)

print("Shape:", tx_ev_df.shape)
tx_ev_df.sort_values("registration_date")

Shape: (2274866, 5)

                  state zip_code       make    model  year
registration_date
2017-07-01           TX    78721     NISSAN     LEAF  2013
2017-07-01           TX    77008  CHEVROLET     VOLT  2012
2017-07-01           TX    78130     NISSAN     LEAF  2015
2017-07-01           TX    75254  CHEVROLET     VOLT  2017
2017-07-01           TX    78501      TESLA  MODEL X  2017
...                 ...      ...        ...      ...   ...
2024-07-01           TX    78739      TESLA  MODEL 3  2019
2024-07-01           TX    75007      TESLA  MODEL Y  2023
2024-07-01           TX    76226      TESLA  MODEL 3  2023
2024-07-01           TX    78405       FORD    FOCUS  2017
2024-07-01           TX    75007      TESLA  MODEL 3  2020

[2274866 rows x 5 columns]