In [1]:
from pathlib import Path
import datetime as dt
import pandas as pd

In [9]:
fl_ev_df = pd.read_csv(
    Path("../../../data/processed_data/fl_ev_registrations.csv"),
    index_col="registration_date",
    parse_dates=True,
)


print("Shape:", fl_ev_df.shape)
fl_ev_df.sort_values("registration_date")

Shape: (353974, 5)

,state,county,zip_codes,make,model
registration_date,,,,,
2018-06-30,FL,Miami-Dade County,"[33002, 33010, 33011, 33012, 33013, 33014, 330...",Tesla,Model X
2018-06-30,FL,Walton County,"[32422, 32433, 32434, 32435, 32439, 32454, 324...",BMW,X5
2018-06-30,FL,Walton County,"[32422, 32433, 32434, 32435, 32439, 32454, 324...",Tesla,Model X
2018-06-30,FL,Walton County,"[32422, 32433, 32434, 32435, 32439, 32454, 324...",Tesla,Model X
2018-06-30,FL,Walton County,"[32422, 32433, 32434, 32435, 32439, 32454, 324...",Tesla,Model X
...,...,...,...,...,...
2021-07-19,FL,Orange County,"[32703, 32704, 32709, 32710, 32712, 32733, 327...",Volvo,XC90 Plug In
2021-07-19,FL,Martin County,"[33455, 33475, 34956, 34957, 34958, 34990, 349...",Volvo,XC90 Plug In
2021-07-19,FL,Collier County,"[34101, 34102, 34103, 34104, 34105, 34106, 341...",Volvo,XC90 Plug In
2021-07-19,FL,Osceola County,"[33848, 34739, 34741, 34742, 34743, 34744, 347...",Volvo,XC90 Plug In
2021-07-19,FL,Lee County,"[33900, 33901, 33902, 33903, 33904, 33905, 339...",Porsche,Cayenne S E-Hybrid

In [10]:
fl_pop_df = pd.read_csv(
    Path("../../../data/processed_data/fl_population.csv"),
    index_col="date",
    parse_dates=True,
)

print("Shape:", fl_pop_df.shape)
fl_pop_df.sort_values("date")

Shape: (1005, 4)

,state,county,zip_codes,population
date,,,,
2010-01-01,FL,Alachua County,"[32601, 32602, 32603, 32604, 32605, 32606, 326...",247614
2010-01-01,FL,Levy County,"[32621, 32625, 32626, 32639, 32644, 32668, 326...",40720
2010-01-01,FL,Liberty County,"[32321, 32334, 32335, 32360]",8349
2010-01-01,FL,Madison County,"[32059, 32331, 32340, 32341, 32350]",19248
2010-01-01,FL,Manatee County,"[34201, 34202, 34203, 34204, 34205, 34206, 342...",323424
...,...,...,...,...
2024-01-01,FL,Gilchrist County,"[32693, 32619]",16430
2024-01-01,FL,Gadsden County,"[32351, 32333, 32352, 32324, 32343, 32332, 32330]",43746
2024-01-01,FL,Franklin County,"[32322, 32328, 32320, 32323]",11780
2024-01-01,FL,Hardee County,"[33873, 33834, 33890, 33865]",25736
2024-01-01,FL,Washington County,"[32428, 32462, 32427, 32437, 32463]",23107

In [4]:
ca_ev_df = pd.read_csv(
    Path("../../../data/processed_data/ca_ev_registrations.csv"),
    index_col="registration_date",
    parse_dates=True,
)

print("Shape:", ca_ev_df.shape)
ca_ev_df

Shape: (2542443, 5)

,state,county,zip_codes,make,model
registration_date,,,,,
2010-01-01,CA,Alameda County,"[94501, 94502, 94536, 94537, 94538, 94539, 945...",Tesla,Roadster
2010-01-01,CA,Alameda County,"[94501, 94502, 94536, 94537, 94538, 94539, 945...",Tesla,Roadster
2010-01-01,CA,Alameda County,"[94501, 94502, 94536, 94537, 94538, 94539, 945...",Tesla,Roadster
2010-01-01,CA,Alameda County,"[94501, 94502, 94536, 94537, 94538, 94539, 945...",Tesla,Roadster
2010-01-01,CA,Alameda County,"[94501, 94502, 94536, 94537, 94538, 94539, 945...",Tesla,Roadster
...,...,...,...,...,...
2020-01-01,CA,NaN,NaN,Volvo,XC90 Plug In
2020-01-01,CA,NaN,NaN,Volvo,XC90 Plug In
2020-01-01,CA,NaN,NaN,Volvo,XC90 Plug In
2020-01-01,CA,NaN,NaN,Volvo,XC90 Plug In
2020-01-01,CA,NaN,NaN,Volvo,XC90 Plug In

In [11]:
ca_pop_df = pd.read_csv(
    Path("../../../data/processed_data/ca_population.csv"),
    index_col="date",
    parse_dates=True,
)

print("Shape:", ca_pop_df.shape)
ca_pop_df.sort_values("date")

Shape: (870, 4)

,state,county,zip_codes,population
date,,,,
2010-01-01,CA,Alameda County,"[94501, 94502, 94536, 94537, 94538, 94539, 945...",1512986
2010-01-01,CA,Plumas County,"[95915, 95923, 95934, 95947, 95956, 95971, 959...",19914
2010-01-01,CA,Riverside County,"[91752, 92201, 92202, 92203, 92210, 92211, 922...",2201576
2010-01-01,CA,Sacramento County,"[94203, 94204, 94205, 94206, 94207, 94208, 942...",1421383
2010-01-01,CA,San Benito County,"[95023, 95024, 95043, 95045, 95075]",55516
...,...,...,...,...
2024-01-01,CA,Merced County,"[93635, 95301, 95340, 95348, 95341, 95334, 953...",280132
2024-01-01,CA,Modoc County,"[96101, 96134, 96104, 96015, 96054, 96112, 961...",9350
2024-01-01,CA,Mono County,"[93514, 93546, 96107, 93541, 93517, 93512, 935...",26456
2024-01-01,CA,Imperial County,"[92243, 92231, 92227, 92251, 92250, 92249, 922...",174094
2024-01-01,CA,Yuba County,"[95901, 95961, 95692, 95903, 95977, 95918, 959...",82873

In [6]:
tx_ev_df = pd.read_csv(
    Path("../../../data/processed_data/tx_ev_registrations.csv"),
    index_col="registration_date",
    parse_dates=True,
)

print("Shape:", tx_ev_df.shape)
tx_ev_df.sort_values("registration_date")

Shape: (2274866, 6)

                  state          county zip_code       make    model  year
registration_date
2017-07-01           TX   Travis County    78721     NISSAN     LEAF  2013
2017-07-01           TX   Harris County    77008  CHEVROLET     VOLT  2012
2017-07-01           TX    Comal County    78130     NISSAN     LEAF  2015
2017-07-01           TX   Dallas County    75254  CHEVROLET     VOLT  2017
2017-07-01           TX  Hidalgo County    78501      TESLA  MODEL X  2017
...                 ...             ...      ...        ...      ...   ...
2024-07-01           TX   Travis County    78739      TESLA  MODEL 3  2019
2024-07-01           TX   Denton County    75007      TESLA  MODEL Y  2023
2024-07-01           TX   Denton County    76226      TESLA  MODEL 3  2023
2024-07-01           TX   Nueces County    78405       FORD    FOCUS  2017
2024-07-01           TX   Denton County    75007      TESLA  MODEL 3  2020

[2274866 rows x 6 columns]

In [7]:
tx_pop_df = pd.read_csv(
    Path("../../../data/processed_data/tx_population.csv"),
    index_col="date",
    parse_dates=True,
)

print("Shape:", tx_pop_df.shape)
tx_pop_df.sort_values("date")

Shape: (3811, 4)

,state,county,zip_codes,population
date,,,,
2010-01-01,TX,Anderson County,"[75763, 75779, 75801, 75802, 75803, 75832, 758...",58493
2010-01-01,TX,McMullen County,"[78007, 78072]",711
2010-01-01,TX,Medina County,"[78009, 78016, 78039, 78056, 78059, 78066, 788...",46114
2010-01-01,TX,Menard County,"[76841, 76848, 76859]",2230
2010-01-01,TX,Midland County,"[79701, 79702, 79703, 79704, 79705, 79706, 797...",136974
...,...,...,...,...
2024-01-01,TX,Grayson County,"[75092, 75090, 75020, 76273, 75495, 75021, 750...",141272
2024-01-01,TX,Gregg County,"[75605, 75604, 75662, 75601, 75647, 75603, 75693]",130580
2024-01-01,TX,Grimes County,"[77868, 77363, 77831, 77861, 77830, 77876]",29742
2024-01-01,TX,Jones County,"[79601, 79553, 79525, 79501, 79520, 79503]",37863
2024-01-01,TX,Zavala County,"[78839, 78872, 78829]",9700