In [4]:
from pathlib import Path
import pandas as pd

In [5]:
# Load the data for States percentage change of the adoption rates
df = pd.read_csv(
    Path("../../../data/processed_data/states_percent_change.csv"),
)

# Display the data
print("Shape:", df.shape)
df

Shape: (305, 20)

,year,state,population,electric,phev,hev,biodiesel,ethanol,cng,propane,hydrogen,methanol,gasoline,diesel,unknown,total_vehicles,ev_adoption_rate,gas_adoption_rate,ev_growth_rate,gas_growth_rate
0,2017,Alabama,4874486.0,800,1100,30600,0,476700,18500,0,0,0,3750700,131500,49000,4458900,0.017942,84.117159,60.000000,-0.704207
1,2017,Alaska,739700.0,400,300,5200,0,59400,4400,0,0,0,506800,43200,16400,636100,0.062883,79.673007,100.000000,-3.631869
2,2017,Arizona,7044008.0,7200,5800,96000,0,484600,16600,0,0,100,4940200,187500,108300,5846300,0.123155,84.501309,53.191489,2.813736
3,2017,Arkansas,3001345.0,300,600,20000,0,352700,10800,0,0,0,2097400,100100,19800,2601700,0.011531,80.616520,50.000000,-0.019068
4,2017,California,39358497.0,189700,159600,1039300,0,1495800,79300,0,3200,400,28171500,738600,122200,31999600,0.592820,88.037038,34.063604,3.415807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,2022,Virginia,8679099.0,56600,21700,198400,40000,496200,300,0,0,0,6643300,153700,31900,7642100,0.740634,86.930294,84.364821,-0.265726
301,2022,Washington,7784477.0,104100,31400,270200,67500,348300,100,100,0,0,5650700,277400,52700,6802500,1.530320,83.067990,55.838323,-2.439572
302,2022,West Virginia,1774035.0,1900,1400,18300,15600,127500,100,0,0,0,1267500,45700,10900,1488900,0.127611,85.129962,90.000000,-0.063077
303,2022,Wisconsin,5890543.0,15700,10000,105200,46500,549700,300,0,0,0,4577400,144500,26900,5476200,0.286695,83.587159,68.817204,-1.329999
304,2022,Wyoming,581629.0,800,600,6900,19100,58600,0,0,0,0,483000,61200,14200,644400,0.124146,74.953445,60.000000,0.124378

In [8]:
df.loc[df["state"] == "Alabama"].sort_values(by="year")

,year,state,population,electric,phev,hev,biodiesel,ethanol,cng,propane,hydrogen,methanol,gasoline,diesel,unknown,total_vehicles,ev_adoption_rate,gas_adoption_rate,ev_growth_rate,gas_growth_rate
0,2017,Alabama,4874486.0,800,1100,30600,0,476700,18500,0,0,0,3750700,131500,49000,4458900,0.017942,84.117159,60.000000,-0.704207
50,2018,Alabama,4887681.0,1300,1500,31800,0,509500,17000,0,0,0,3733700,135900,46000,4476700,0.029039,83.402953,62.500000,-0.453249
101,2019,Alabama,4903185.0,2000,1800,33700,0,543900,15900,0,0,0,3806700,144900,44300,4593200,0.043543,82.876861,53.846154,1.955165
152,2020,Alabama,5031864.0,2900,2100,36300,0,567600,15100,0,0,0,3863500,154100,41600,4683200,0.061923,82.497011,45.000000,1.492106
203,2021,Alabama,5050380.0,4700,3300,42500,40500,449500,500,100,0,0,4051000,123500,32000,4747600,0.098997,85.327323,62.068966,4.853112
254,2022,Alabama,5073903.0,8700,4400,50800,48100,449800,100,100,0,0,4077100,126100,30300,4795500,0.181420,85.019289,85.106383,0.644285