In [16]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [2]:
ca_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/CA_2024_alt_fuel_stations (Aug 30 2024)-2.csv"),
    index_col="Open Date",
    parse_dates=True,
)

print("Shape:", ca_fuelstation_df.shape)
ca_fuelstation_df.sort_values("Open Date")

display(ca_fuelstation_df.head())
display(ca_fuelstation_df.tail())

Shape: (17556, 74)

/var/folders/07/6wrk2d5d7_ggvw77n55lwq_40000gn/T/ipykernel_52571/457048514.py:1: DtypeWarning: Columns (6,20,31,46,69) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_fuelstation_df = pd.read_csv(

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
1995-08-30,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015.0,NaN,213-741-1151,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
1996-10-15,ELEC,California Air Resources Board,9530 Telstar Ave,NaN,El Monte,CA,91731.0,NaN,626-575-6800,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1997-07-30,ELEC,Scripps Green Hospital,10666 N Torrey Pines Rd,"Patient Parking Structure, level G",La Jolla,CA,92037.0,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2012-12-11,ELEC,Galpin Motors,15421 Roscoe Blvd,NaN,Sepulveda,CA,91343.0,NaN,800-256-6219,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD,False,NaN
1997-08-30,ELEC,Galleria at Tyler,1299 Galleria at Tyler,NaN,Riverside,CA,92503.0,NaN,951-351-3110,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2024-08-29,ELEC,PANDA FOREST 1,2350 Forest Avenue,store front,Chico,CA,95928,NaN,888-758-4389,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,PANDA FOREST 2,2350 Forest Avenue,store front,Chico,CA,95928,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,CU PANTHER VILLA 2,3101 W Chapman Ave,NaN,Orange,CA,92868,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,76 Roseville Pkwy,1300 E Roseville Pkwy,NaN,Roseville,CA,95661,NaN,866-816-7584,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-01-01,ELEC,Market Square,1355 Market St,The garage entrance is located off Jessie St.,San Francisco,CA,94103,NaN,415-861-2280,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

In [3]:
ca_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17556 entries, 1995-08-30 to 2024-01-01
Data columns (total 74 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           17556 non-null  object
 1   Station Name                             17556 non-null  object
 2   Street Address                           17542 non-null  object
 3   Intersection Directions                  6381 non-null   object
 4   City                                     17542 non-null  object
 5   State                                    17556 non-null  object
 6   ZIP                                      17542 non-null  object
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            17413 non-null  object
 9   Status Code                              17556 non-null  object
 10  Expected Date                            1477 non-null   object
 11  Groups With Access Code                  17556 non-null  object
 12  Access Days Time                         16570 non-null  object
 13  Cards Accepted                           1151 non-null   object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       43 non-null     float64
 18  EV Level2 EVSE Num                       15455 non-null  float64
 19  EV DC Fast Count                         2405 non-null   float64
 20  EV Other Info                            13 non-null     object
 21  EV Network                               17556 non-null  object
 22  EV Network Web                           16667 non-null  object
 23  Geocode Status                           17555 non-null  object
 24  Latitude                                 17556 non-null  float64
 25  Longitude                                17556 non-null  float64
 26  Date Last Confirmed                      17509 non-null  object
 27  ID                                       17556 non-null  int64
 28  Updated At                               17556 non-null  object
 29  Owner Type Code                          2643 non-null   object
 30  Federal Agency ID                        9 non-null      float64
 31  Federal Agency Name                      9 non-null      object
 32  Hydrogen Status Link                     0 non-null      float64
 33  NG Vehicle Class                         0 non-null      float64
 34  LPG Primary                              0 non-null      float64
 35  E85 Blender Pump                         0 non-null      float64
 36  EV Connector Types                       17543 non-null  object
 37  Country                                  17556 non-null  object
 38  Intersection Directions (French)         0 non-null      float64
 39  Access Days Time (French)                0 non-null      float64
 40  BD Blends (French)                       0 non-null      float64
 41  Groups With Access Code (French)         17556 non-null  object
 42  Hydrogen Is Retail                       0 non-null      float64
 43  Access Code                              17556 non-null  object
 44  Access Detail Code                       531 non-null    object
 45  Federal Agency Code                      9 non-null      object
 46  Facility Type                            2609 non-null   object
 47  CNG Dispenser Num                        0 non-null      float64
 48  CNG On-Site Renewable Source             0 non-null      float64
 49  CNG Total Compression Capacity           0 non-null      float64
 50  CNG Storage Capacity                     0 non-null      float64
 51  LNG On-Site Renewable Source             0 non-null      float64
 52  E85 Other Ethanol Blends                 0 non-null      float64
 53  EV Pricing                               2131 non-null   object
 54  EV Pricing (French)                      0 non-null      float64
 55  LPG Nozzle Types                         0 non-null      float64
 56  Hydrogen Pressures                       0 non-null      float64
 57  Hydrogen Standards                       0 non-null      float64
 58  CNG Fill Type Code                       0 non-null      float64
 59  CNG PSI                                  0 non-null      float64
 60  CNG Vehicle Class                        0 non-null      float64
 61  LNG Vehicle Class                        0 non-null      float64
 62  EV On-Site Renewable Source              77 non-null     object
 63  Restricted Access                        1956 non-null   object
 64  RD Blends                                0 non-null      float64
 65  RD Blends (French)                       0 non-null      float64
 66  RD Blended with Biodiesel                0 non-null      float64
 67  RD Maximum Biodiesel Level               0 non-null      float64
 68  NPS Unit Name                            27 non-null     object
 69  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 70  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  Maximum Vehicle Class                    1649 non-null   object
 72  EV Workplace Charging                    17556 non-null  bool
 73  Funding Sources                          0 non-null      float64
dtypes: bool(1), float64(39), int64(1), object(33)
memory usage: 9.9+ MB

In [4]:
select_columns = ["State","City","ZIP"]

df = ca_fuelstation_df[select_columns].reset_index()
df

       Open Date State           City      ZIP
0     1995-08-30    CA    Los Angeles  90015.0
1     1996-10-15    CA       El Monte  91731.0
2     1997-07-30    CA       La Jolla  92037.0
3     2012-12-11    CA      Sepulveda  91343.0
4     1997-08-30    CA      Riverside  92503.0
...          ...   ...            ...      ...
17551 2024-08-29    CA          Chico    95928
17552 2024-08-29    CA          Chico    95928
17553 2024-08-29    CA         Orange    92868
17554 2024-08-29    CA      Roseville    95661
17555 2024-01-01    CA  San Francisco    94103

[17556 rows x 4 columns]

In [5]:
df.rename(columns={
    "Open Date": "date",
    "State": "state",
    "City": "city",
    "ZIP": "zip_code",
},inplace=True)
df

            date state           city zip_code
0     1995-08-30    CA    Los Angeles  90015.0
1     1996-10-15    CA       El Monte  91731.0
2     1997-07-30    CA       La Jolla  92037.0
3     2012-12-11    CA      Sepulveda  91343.0
4     1997-08-30    CA      Riverside  92503.0
...          ...   ...            ...      ...
17551 2024-08-29    CA          Chico    95928
17552 2024-08-29    CA          Chico    95928
17553 2024-08-29    CA         Orange    92868
17554 2024-08-29    CA      Roseville    95661
17555 2024-01-01    CA  San Francisco    94103

[17556 rows x 4 columns]

In [6]:
df.sort_values("date",inplace=True)
df

            date state                 city zip_code
0     1995-08-30    CA          Los Angeles  90015.0
1     1996-10-15    CA             El Monte  91731.0
2     1997-07-30    CA             La Jolla  92037.0
4     1997-08-30    CA            Riverside  92503.0
5     1997-08-30    CA             Pasadena  91103.0
...          ...   ...                  ...      ...
17553 2024-08-29    CA               Orange    92868
17554 2024-08-29    CA            Roseville    95661
17334        NaT    CA  San Juan Capistrano    92675
17335        NaT    CA             Whittier    90603
17472        NaT    CA           Santa Rosa    95403

[17556 rows x 4 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17556 entries, 0 to 17472
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      17553 non-null  datetime64[ns]
 1   state     17556 non-null  object
 2   city      17542 non-null  object
 3   zip_code  17542 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 685.8+ KB

In [8]:
df["zip_code"].isnull().sum()

14

In [9]:
df.loc[df["zip_code"].isnull()]

            date state city zip_code
2666  2020-06-12    CA  NaN      NaN
2782  2020-06-12    CA  NaN      NaN
5125  2021-01-27    CA  NaN      NaN
5263  2021-01-27    CA  NaN      NaN
5262  2021-01-27    CA  NaN      NaN
5777  2021-01-27    CA  NaN      NaN
5778  2021-01-27    CA  NaN      NaN
5779  2021-01-27    CA  NaN      NaN
11116 2022-05-25    CA  NaN      NaN
11117 2022-05-25    CA  NaN      NaN
11115 2022-05-25    CA  NaN      NaN
11114 2022-05-25    CA  NaN      NaN
11197 2022-05-29    CA  NaN      NaN
12744 2022-11-16    CA  NaN      NaN

In [10]:
#df["zip_code"]
zip_code_list = df["zip_code"].unique().tolist()
#zip_code_list

In [20]:
def cleaned_zip_code(value):
    if type(value) is int or type(value) is float:
       return str(int(value))
    elif type(value) is str and value.isdigit():
        return value
    elif pd.isna(value):
        return np.nan
    else: 
        return np.nan
    
        

df["zip_code"].apply(cleaned_zip_code)

ValueError: cannot convert float NaN to integer

In [ ]:
df["zip_code"] = df["zip_code"].astype(int)
df

In [ ]:
type(df["zip_code"].values[0])