In [1]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [2]:
ca_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/CA_2024_alt_fuel_stations (Aug 30 2024)-2.csv"),
    index_col="Open Date",
    parse_dates=True,
)

print("Shape:", ca_fuelstation_df.shape)
ca_fuelstation_df.sort_values("Open Date")

display(ca_fuelstation_df.head())
display(ca_fuelstation_df.tail())

Shape: (17556, 74)

/var/folders/07/6wrk2d5d7_ggvw77n55lwq_40000gn/T/ipykernel_53602/457048514.py:1: DtypeWarning: Columns (6,20,31,46,69) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_fuelstation_df = pd.read_csv(

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
1995-08-30,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015.0,NaN,213-741-1151,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
1996-10-15,ELEC,California Air Resources Board,9530 Telstar Ave,NaN,El Monte,CA,91731.0,NaN,626-575-6800,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1997-07-30,ELEC,Scripps Green Hospital,10666 N Torrey Pines Rd,"Patient Parking Structure, level G",La Jolla,CA,92037.0,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2012-12-11,ELEC,Galpin Motors,15421 Roscoe Blvd,NaN,Sepulveda,CA,91343.0,NaN,800-256-6219,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD,False,NaN
1997-08-30,ELEC,Galleria at Tyler,1299 Galleria at Tyler,NaN,Riverside,CA,92503.0,NaN,951-351-3110,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2024-08-29,ELEC,PANDA FOREST 1,2350 Forest Avenue,store front,Chico,CA,95928,NaN,888-758-4389,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,PANDA FOREST 2,2350 Forest Avenue,store front,Chico,CA,95928,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,CU PANTHER VILLA 2,3101 W Chapman Ave,NaN,Orange,CA,92868,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,76 Roseville Pkwy,1300 E Roseville Pkwy,NaN,Roseville,CA,95661,NaN,866-816-7584,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-01-01,ELEC,Market Square,1355 Market St,The garage entrance is located off Jessie St.,San Francisco,CA,94103,NaN,415-861-2280,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

In [3]:
ca_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17556 entries, 1995-08-30 to 2024-01-01
Data columns (total 74 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           17556 non-null  object
 1   Station Name                             17556 non-null  object
 2   Street Address                           17542 non-null  object
 3   Intersection Directions                  6381 non-null   object
 4   City                                     17542 non-null  object
 5   State                                    17556 non-null  object
 6   ZIP                                      17542 non-null  object
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            17413 non-null  object
 9   Status Code                              17556 non-null  object
 10  Expected Date                            1477 non-null   object
 11  Groups With Access Code                  17556 non-null  object
 12  Access Days Time                         16570 non-null  object
 13  Cards Accepted                           1151 non-null   object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       43 non-null     float64
 18  EV Level2 EVSE Num                       15455 non-null  float64
 19  EV DC Fast Count                         2405 non-null   float64
 20  EV Other Info                            13 non-null     object
 21  EV Network                               17556 non-null  object
 22  EV Network Web                           16667 non-null  object
 23  Geocode Status                           17555 non-null  object
 24  Latitude                                 17556 non-null  float64
 25  Longitude                                17556 non-null  float64
 26  Date Last Confirmed                      17509 non-null  object
 27  ID                                       17556 non-null  int64
 28  Updated At                               17556 non-null  object
 29  Owner Type Code                          2643 non-null   object
 30  Federal Agency ID                        9 non-null      float64
 31  Federal Agency Name                      9 non-null      object
 32  Hydrogen Status Link                     0 non-null      float64
 33  NG Vehicle Class                         0 non-null      float64
 34  LPG Primary                              0 non-null      float64
 35  E85 Blender Pump                         0 non-null      float64
 36  EV Connector Types                       17543 non-null  object
 37  Country                                  17556 non-null  object
 38  Intersection Directions (French)         0 non-null      float64
 39  Access Days Time (French)                0 non-null      float64
 40  BD Blends (French)                       0 non-null      float64
 41  Groups With Access Code (French)         17556 non-null  object
 42  Hydrogen Is Retail                       0 non-null      float64
 43  Access Code                              17556 non-null  object
 44  Access Detail Code                       531 non-null    object
 45  Federal Agency Code                      9 non-null      object
 46  Facility Type                            2609 non-null   object
 47  CNG Dispenser Num                        0 non-null      float64
 48  CNG On-Site Renewable Source             0 non-null      float64
 49  CNG Total Compression Capacity           0 non-null      float64
 50  CNG Storage Capacity                     0 non-null      float64
 51  LNG On-Site Renewable Source             0 non-null      float64
 52  E85 Other Ethanol Blends                 0 non-null      float64
 53  EV Pricing                               2131 non-null   object
 54  EV Pricing (French)                      0 non-null      float64
 55  LPG Nozzle Types                         0 non-null      float64
 56  Hydrogen Pressures                       0 non-null      float64
 57  Hydrogen Standards                       0 non-null      float64
 58  CNG Fill Type Code                       0 non-null      float64
 59  CNG PSI                                  0 non-null      float64
 60  CNG Vehicle Class                        0 non-null      float64
 61  LNG Vehicle Class                        0 non-null      float64
 62  EV On-Site Renewable Source              77 non-null     object
 63  Restricted Access                        1956 non-null   object
 64  RD Blends                                0 non-null      float64
 65  RD Blends (French)                       0 non-null      float64
 66  RD Blended with Biodiesel                0 non-null      float64
 67  RD Maximum Biodiesel Level               0 non-null      float64
 68  NPS Unit Name                            27 non-null     object
 69  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 70  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  Maximum Vehicle Class                    1649 non-null   object
 72  EV Workplace Charging                    17556 non-null  bool
 73  Funding Sources                          0 non-null      float64
dtypes: bool(1), float64(39), int64(1), object(33)
memory usage: 9.9+ MB

In [4]:
select_columns = ["State","City","ZIP"]

df = ca_fuelstation_df[select_columns].reset_index()
df

       Open Date State           City      ZIP
0     1995-08-30    CA    Los Angeles  90015.0
1     1996-10-15    CA       El Monte  91731.0
2     1997-07-30    CA       La Jolla  92037.0
3     2012-12-11    CA      Sepulveda  91343.0
4     1997-08-30    CA      Riverside  92503.0
...          ...   ...            ...      ...
17551 2024-08-29    CA          Chico    95928
17552 2024-08-29    CA          Chico    95928
17553 2024-08-29    CA         Orange    92868
17554 2024-08-29    CA      Roseville    95661
17555 2024-01-01    CA  San Francisco    94103

[17556 rows x 4 columns]

In [5]:
df.rename(columns={
    "Open Date": "date",
    "State": "state",
    "City": "city",
    "ZIP": "zip_code",
},inplace=True)
df

            date state           city zip_code
0     1995-08-30    CA    Los Angeles  90015.0
1     1996-10-15    CA       El Monte  91731.0
2     1997-07-30    CA       La Jolla  92037.0
3     2012-12-11    CA      Sepulveda  91343.0
4     1997-08-30    CA      Riverside  92503.0
...          ...   ...            ...      ...
17551 2024-08-29    CA          Chico    95928
17552 2024-08-29    CA          Chico    95928
17553 2024-08-29    CA         Orange    92868
17554 2024-08-29    CA      Roseville    95661
17555 2024-01-01    CA  San Francisco    94103

[17556 rows x 4 columns]

In [6]:
df.sort_values("date",inplace=True)
df

            date state                 city zip_code
0     1995-08-30    CA          Los Angeles  90015.0
1     1996-10-15    CA             El Monte  91731.0
2     1997-07-30    CA             La Jolla  92037.0
4     1997-08-30    CA            Riverside  92503.0
5     1997-08-30    CA             Pasadena  91103.0
...          ...   ...                  ...      ...
17553 2024-08-29    CA               Orange    92868
17554 2024-08-29    CA            Roseville    95661
17334        NaT    CA  San Juan Capistrano    92675
17335        NaT    CA             Whittier    90603
17472        NaT    CA           Santa Rosa    95403

[17556 rows x 4 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17556 entries, 0 to 17472
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      17553 non-null  datetime64[ns]
 1   state     17556 non-null  object
 2   city      17542 non-null  object
 3   zip_code  17542 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 685.8+ KB

In [8]:
df["zip_code"].isnull().sum()

14

In [9]:
df.loc[df["zip_code"].isnull()]

            date state city zip_code
2666  2020-06-12    CA  NaN      NaN
2782  2020-06-12    CA  NaN      NaN
5125  2021-01-27    CA  NaN      NaN
5263  2021-01-27    CA  NaN      NaN
5262  2021-01-27    CA  NaN      NaN
5777  2021-01-27    CA  NaN      NaN
5778  2021-01-27    CA  NaN      NaN
5779  2021-01-27    CA  NaN      NaN
11116 2022-05-25    CA  NaN      NaN
11117 2022-05-25    CA  NaN      NaN
11115 2022-05-25    CA  NaN      NaN
11114 2022-05-25    CA  NaN      NaN
11197 2022-05-29    CA  NaN      NaN
12744 2022-11-16    CA  NaN      NaN

In [10]:
#df["zip_code"]
zip_code_list = df["zip_code"].unique().tolist()
#zip_code_list

In [11]:
def cleaned_zip_code(value):
    if type(value) is int or type(value) is float:
       return str(int(value))
    elif type(value) is str and value.isdigit():
        return value
    elif pd.isna(value):
        return np.nan
    else: 
        return np.nan
    
        

df["zip_code"].apply(cleaned_zip_code)

ValueError: cannot convert float NaN to integer

In [ ]:
df["zip_code"] = df["zip_code"].astype(int)
df

In [ ]:
type(df["zip_code"].values[0])

In [33]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [35]:
fl_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/FL_2024_alt_fuel_stations (Aug 30 2024)-2.csv"),
    index_col="Open Date",
    parse_dates=True,
)

print("Shape:", fl_fuelstation_df.shape)
fl_fuelstation_df.sort_values("Open Date")

display(fl_fuelstation_df.head())
display(fl_fuelstation_df.tail())

Shape: (3750, 74)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2011-02-15,ELEC,OUC RELIABLE 01,100 W Anderson Street,OUC Visitor Parking Lot,Orlando,FL,32801,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2012-07-31,ELEC,OUC OUC OCCC 03,9899 International Drive,East side of south concourse. Parking lot adja...,Orlando,FL,32819,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-06-15,ELEC,City of Delray Beach - Banker's Row Parking Lot,200 NE 1st Ave,Intersection of NE 1st Avenue and NE 2nd Stree...,Delray Beach,FL,33444,NaN,561-243-7000,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
2011-03-15,ELEC,Firkins Nissan,1611 Cortez Rd W,NaN,Bradenton,FL,34207,NaN,941-755-1571,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-03-15,ELEC,Maus Nissan,937 S Suncoast Blvd,NaN,Homosassa,FL,34448,NaN,352-628-4300,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2024-08-29,ELEC,Back lot,8300 Red Bug Lake Roaad,NaN,Oviedo,FL,32765,NaN,1-833-789-1400,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,Tarpon Cove Office,1531 West Klosterman Road,NaN,Tarpon Springs,FL,34689,NaN,1-833-789-1400,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,Tarpon Cove Pool,1531 West Klosterman Road,NaN,Tarpon Spring,FL,34689,NaN,1-833-789-1400,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,Grand Center Parking Garage,620 UT University Drive,NaN,Tampa,FL,33606,NaN,1-833-789-1400,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-29,ELEC,AdventHealth P2 7th Floor,601 E Rollins Street,NaN,Orlando,FL,32801,NaN,1-833-789-1400,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [37]:
fl_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3750 entries, 2011-02-15 to 2024-08-29
Data columns (total 74 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           3750 non-null   object
 1   Station Name                             3750 non-null   object
 2   Street Address                           3750 non-null   object
 3   Intersection Directions                  898 non-null    object
 4   City                                     3750 non-null   object
 5   State                                    3750 non-null   object
 6   ZIP                                      3750 non-null   int64
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            3730 non-null   object
 9   Status Code                              3750 non-null   object
 10  Expected Date                            265 non-null    object
 11  Groups With Access Code                  3750 non-null   object
 12  Access Days Time                         3381 non-null   object
 13  Cards Accepted                           262 non-null    object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       10 non-null     float64
 18  EV Level2 EVSE Num                       3250 non-null   float64
 19  EV DC Fast Count                         555 non-null    float64
 20  EV Other Info                            0 non-null      float64
 21  EV Network                               3750 non-null   object
 22  EV Network Web                           3522 non-null   object
 23  Geocode Status                           3750 non-null   object
 24  Latitude                                 3750 non-null   float64
 25  Longitude                                3750 non-null   float64
 26  Date Last Confirmed                      3740 non-null   object
 27  ID                                       3750 non-null   int64
 28  Updated At                               3750 non-null   object
 29  Owner Type Code                          848 non-null    object
 30  Federal Agency ID                        0 non-null      float64
 31  Federal Agency Name                      0 non-null      float64
 32  Hydrogen Status Link                     0 non-null      float64
 33  NG Vehicle Class                         0 non-null      float64
 34  LPG Primary                              0 non-null      float64
 35  E85 Blender Pump                         0 non-null      float64
 36  EV Connector Types                       3750 non-null   object
 37  Country                                  3750 non-null   object
 38  Intersection Directions (French)         0 non-null      float64
 39  Access Days Time (French)                0 non-null      float64
 40  BD Blends (French)                       0 non-null      float64
 41  Groups With Access Code (French)         3750 non-null   object
 42  Hydrogen Is Retail                       0 non-null      float64
 43  Access Code                              3750 non-null   object
 44  Access Detail Code                       156 non-null    object
 45  Federal Agency Code                      0 non-null      float64
 46  Facility Type                            756 non-null    object
 47  CNG Dispenser Num                        0 non-null      float64
 48  CNG On-Site Renewable Source             0 non-null      float64
 49  CNG Total Compression Capacity           0 non-null      float64
 50  CNG Storage Capacity                     0 non-null      float64
 51  LNG On-Site Renewable Source             0 non-null      float64
 52  E85 Other Ethanol Blends                 0 non-null      float64
 53  EV Pricing                               946 non-null    object
 54  EV Pricing (French)                      0 non-null      float64
 55  LPG Nozzle Types                         0 non-null      float64
 56  Hydrogen Pressures                       0 non-null      float64
 57  Hydrogen Standards                       0 non-null      float64
 58  CNG Fill Type Code                       0 non-null      float64
 59  CNG PSI                                  0 non-null      float64
 60  CNG Vehicle Class                        0 non-null      float64
 61  LNG Vehicle Class                        0 non-null      float64
 62  EV On-Site Renewable Source              1 non-null      object
 63  Restricted Access                        445 non-null    object
 64  RD Blends                                0 non-null      float64
 65  RD Blends (French)                       0 non-null      float64
 66  RD Blended with Biodiesel                0 non-null      float64
 67  RD Maximum Biodiesel Level               0 non-null      float64
 68  NPS Unit Name                            6 non-null      object
 69  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 70  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  Maximum Vehicle Class                    413 non-null    object
 72  EV Workplace Charging                    3750 non-null   bool
 73  Funding Sources                          0 non-null      float64
dtypes: bool(1), float64(42), int64(2), object(29)
memory usage: 2.1+ MB

In [39]:
select_columns = ["State","City","ZIP"]

df = fl_fuelstation_df[select_columns].reset_index()
df

      Open Date State            City    ZIP
0    2011-02-15    FL         Orlando  32801
1    2012-07-31    FL         Orlando  32819
2    2011-06-15    FL    Delray Beach  33444
3    2011-03-15    FL       Bradenton  34207
4    2011-03-15    FL       Homosassa  34448
...         ...   ...             ...    ...
3745 2024-08-29    FL          Oviedo  32765
3746 2024-08-29    FL  Tarpon Springs  34689
3747 2024-08-29    FL   Tarpon Spring  34689
3748 2024-08-29    FL           Tampa  33606
3749 2024-08-29    FL         Orlando  32801

[3750 rows x 4 columns]

In [41]:
df.rename(columns={
    "Open Date": "date",
    "State": "state",
    "City": "city",
    "ZIP": "zip_code",
},inplace=True)
df

           date state            city  zip_code
0    2011-02-15    FL         Orlando     32801
1    2012-07-31    FL         Orlando     32819
2    2011-06-15    FL    Delray Beach     33444
3    2011-03-15    FL       Bradenton     34207
4    2011-03-15    FL       Homosassa     34448
...         ...   ...             ...       ...
3745 2024-08-29    FL          Oviedo     32765
3746 2024-08-29    FL  Tarpon Springs     34689
3747 2024-08-29    FL   Tarpon Spring     34689
3748 2024-08-29    FL           Tampa     33606
3749 2024-08-29    FL         Orlando     32801

[3750 rows x 4 columns]

In [43]:
df.sort_values("date",inplace=True)
df

           date state             city  zip_code
0    2011-02-15    FL          Orlando     32801
21   2011-03-15    FL     Winter Haven     33884
20   2011-03-15    FL       Vero Beach     32962
18   2011-03-15    FL            Tampa     33614
17   2011-03-15    FL           Stuart     34997
...         ...   ...              ...       ...
3724 2024-08-29    FL            Miami     33186
3748 2024-08-29    FL            Tampa     33606
3735 2024-08-29    FL          Oakland     34760
3749 2024-08-29    FL          Orlando     32801
3701        NaT    FL  Sun City Center     33573

[3750 rows x 4 columns]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3750 entries, 0 to 3701
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3749 non-null   datetime64[ns]
 1   state     3750 non-null   object
 2   city      3750 non-null   object
 3   zip_code  3750 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 146.5+ KB

In [47]:
df["zip_code"].isnull().sum()

0

In [49]:
df.loc[df["zip_code"].isnull()]

Empty DataFrame
Columns: [date, state, city, zip_code]
Index: []

In [51]:
#df["zip_code"]
zip_code_list = df["zip_code"].unique().tolist()
#zip_code_list

In [53]:
def cleaned_zip_code(value):
    if type(value) is int or type(value) is float:
       return str(int(value))
    elif type(value) is str and value.isdigit():
        return value
    elif pd.isna(value):
        return np.nan
    else: 
        return np.nan
    
        

df["zip_code"].apply(cleaned_zip_code)

0       32801
21      33884
20      32962
18      33614
17      34997
        ...
3724    33186
3748    33606
3735    34760
3749    32801
3701    33573
Name: zip_code, Length: 3750, dtype: object

In [55]:
df["zip_code"] = df["zip_code"].astype(int)
df

           date state             city  zip_code
0    2011-02-15    FL          Orlando     32801
21   2011-03-15    FL     Winter Haven     33884
20   2011-03-15    FL       Vero Beach     32962
18   2011-03-15    FL            Tampa     33614
17   2011-03-15    FL           Stuart     34997
...         ...   ...              ...       ...
3724 2024-08-29    FL            Miami     33186
3748 2024-08-29    FL            Tampa     33606
3735 2024-08-29    FL          Oakland     34760
3749 2024-08-29    FL          Orlando     32801
3701        NaT    FL  Sun City Center     33573

[3750 rows x 4 columns]

In [57]:
type(df["zip_code"].values[0])

numpy.int64

In [60]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [62]:
tx_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/TX_2024_alt_fuel_stations (Aug 30 2024)-3.csv"),
    index_col="Open Date",
    parse_dates=True,
)

print("Shape:", tx_fuelstation_df.shape)
tx_fuelstation_df.sort_values("Open Date")

display(tx_fuelstation_df.head())
display(tx_fuelstation_df.tail())

Shape: (3779, 74)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2015-10-02,ELEC,BROOKFIELD PROP 300 CLAY STAT1,300 Clay St Allen Ctr Garage,1st floor garage,Houston,TX,77002,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-01-15,ELEC,Clay Cooley Nissan,4914 S IH-35,NaN,Austin,TX,78745,NaN,512-444-1400,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
2011-03-15,ELEC,McGavock Nissan - Abilene,818 E Overland Trail,NaN,Abilene,TX,79606,NaN,325-695-2970,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-03-15,ELEC,McGavock Nissan - Amarillo,4700 S Soncy Rd,NaN,Amarillo,TX,79119,NaN,806-354-3550,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-03-15,ELEC,Don Davis Nissan,1320 E Interstate 20,NaN,Arlington,TX,76018,NaN,817-588-5475,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2024-02-16,ELEC,Comfort Inn & Suites Lakeside,402 S Texas,NaN,Eagle Pass,TX,78852,NaN,866-350-2738,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD,False,NaN
2024-07-08,ELEC,Homewood Suites by Hilton Galveston,110 Seawall Blvd,NaN,Galveston,TX,77550,NaN,866-350-2738,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD,False,NaN
2024-03-14,ELEC,Shivam Reef Motel,1011 E Market St,NaN,Rockport,TX,78382,NaN,866-350-2738,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD,False,NaN
2024-08-27,ELEC,Alexan Cathedral Arts,5088 Ross Avenue,NaN,Dallas,TX,75206,NaN,888-998-2546,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-30,ELEC,Target Houston #T0993,6955 Highway 6 N,NaN,Houston,TX,77084,NaN,877-455-3833,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [64]:
tx_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3779 entries, 2015-10-02 to 2024-08-30
Data columns (total 74 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           3779 non-null   object
 1   Station Name                             3778 non-null   object
 2   Street Address                           3779 non-null   object
 3   Intersection Directions                  1066 non-null   object
 4   City                                     3779 non-null   object
 5   State                                    3779 non-null   object
 6   ZIP                                      3779 non-null   int64
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            3765 non-null   object
 9   Status Code                              3779 non-null   object
 10  Expected Date                            309 non-null    object
 11  Groups With Access Code                  3779 non-null   object
 12  Access Days Time                         3451 non-null   object
 13  Cards Accepted                           571 non-null    object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       12 non-null     float64
 18  EV Level2 EVSE Num                       3270 non-null   float64
 19  EV DC Fast Count                         572 non-null    float64
 20  EV Other Info                            0 non-null      float64
 21  EV Network                               3779 non-null   object
 22  EV Network Web                           3606 non-null   object
 23  Geocode Status                           3779 non-null   object
 24  Latitude                                 3779 non-null   float64
 25  Longitude                                3779 non-null   float64
 26  Date Last Confirmed                      3762 non-null   object
 27  ID                                       3779 non-null   int64
 28  Updated At                               3779 non-null   object
 29  Owner Type Code                          1016 non-null   object
 30  Federal Agency ID                        1 non-null      float64
 31  Federal Agency Name                      1 non-null      object
 32  Hydrogen Status Link                     0 non-null      float64
 33  NG Vehicle Class                         0 non-null      float64
 34  LPG Primary                              0 non-null      float64
 35  E85 Blender Pump                         0 non-null      float64
 36  EV Connector Types                       3779 non-null   object
 37  Country                                  3779 non-null   object
 38  Intersection Directions (French)         0 non-null      float64
 39  Access Days Time (French)                0 non-null      float64
 40  BD Blends (French)                       0 non-null      float64
 41  Groups With Access Code (French)         3779 non-null   object
 42  Hydrogen Is Retail                       0 non-null      float64
 43  Access Code                              3779 non-null   object
 44  Access Detail Code                       406 non-null    object
 45  Federal Agency Code                      1 non-null      object
 46  Facility Type                            912 non-null    object
 47  CNG Dispenser Num                        0 non-null      float64
 48  CNG On-Site Renewable Source             0 non-null      float64
 49  CNG Total Compression Capacity           0 non-null      float64
 50  CNG Storage Capacity                     0 non-null      float64
 51  LNG On-Site Renewable Source             0 non-null      float64
 52  E85 Other Ethanol Blends                 0 non-null      float64
 53  EV Pricing                               825 non-null    object
 54  EV Pricing (French)                      0 non-null      float64
 55  LPG Nozzle Types                         0 non-null      float64
 56  Hydrogen Pressures                       0 non-null      float64
 57  Hydrogen Standards                       0 non-null      float64
 58  CNG Fill Type Code                       0 non-null      float64
 59  CNG PSI                                  0 non-null      float64
 60  CNG Vehicle Class                        0 non-null      float64
 61  LNG Vehicle Class                        0 non-null      float64
 62  EV On-Site Renewable Source              4 non-null      object
 63  Restricted Access                        755 non-null    object
 64  RD Blends                                0 non-null      float64
 65  RD Blends (French)                       0 non-null      float64
 66  RD Blended with Biodiesel                0 non-null      float64
 67  RD Maximum Biodiesel Level               0 non-null      float64
 68  NPS Unit Name                            2 non-null      object
 69  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 70  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  Maximum Vehicle Class                    667 non-null    object
 72  EV Workplace Charging                    3779 non-null   bool
 73  Funding Sources                          0 non-null      float64
dtypes: bool(1), float64(40), int64(2), object(31)
memory usage: 2.1+ MB

In [66]:
select_columns = ["State","City","ZIP"]

df = tx_fuelstation_df[select_columns].reset_index()
df

      Open Date State        City    ZIP
0    2015-10-02    TX     Houston  77002
1    2011-01-15    TX      Austin  78745
2    2011-03-15    TX     Abilene  79606
3    2011-03-15    TX    Amarillo  79119
4    2011-03-15    TX   Arlington  76018
...         ...   ...         ...    ...
3774 2024-02-16    TX  Eagle Pass  78852
3775 2024-07-08    TX   Galveston  77550
3776 2024-03-14    TX    Rockport  78382
3777 2024-08-27    TX      Dallas  75206
3778 2024-08-30    TX     Houston  77084

[3779 rows x 4 columns]

In [68]:
df.rename(columns={
    "Open Date": "date",
    "State": "state",
    "City": "city",
    "ZIP": "zip_code",
},inplace=True)
df

           date state        city  zip_code
0    2015-10-02    TX     Houston     77002
1    2011-01-15    TX      Austin     78745
2    2011-03-15    TX     Abilene     79606
3    2011-03-15    TX    Amarillo     79119
4    2011-03-15    TX   Arlington     76018
...         ...   ...         ...       ...
3774 2024-02-16    TX  Eagle Pass     78852
3775 2024-07-08    TX   Galveston     77550
3776 2024-03-14    TX    Rockport     78382
3777 2024-08-27    TX      Dallas     75206
3778 2024-08-30    TX     Houston     77084

[3779 rows x 4 columns]

In [70]:
df.sort_values("date",inplace=True)
df

           date state         city  zip_code
11   2010-12-30    TX       Dallas     75237
1    2011-01-15    TX       Austin     78745
51   2011-03-15    TX  Weatherford     76087
29   2011-03-15    TX   Lewisville     75067
30   2011-03-15    TX     Longview     75605
...         ...   ...          ...       ...
3538 2024-10-04    TX     Big Lake     76932
3618 2024-12-06    TX      Houston     77029
3126        NaT    TX  Channelview     77530
3651        NaT    TX  San Antonio     78215
3652        NaT    TX  San Antonio     78257

[3779 rows x 4 columns]

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3779 entries, 11 to 3652
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3776 non-null   datetime64[ns]
 1   state     3779 non-null   object
 2   city      3779 non-null   object
 3   zip_code  3779 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 147.6+ KB

In [74]:
df["zip_code"].isnull().sum()

0

In [76]:
df.loc[df["zip_code"].isnull()]

Empty DataFrame
Columns: [date, state, city, zip_code]
Index: []

In [78]:
#df["zip_code"]
zip_code_list = df["zip_code"].unique().tolist()
#zip_code_list

In [80]:
def cleaned_zip_code(value):
    if type(value) is int or type(value) is float:
       return str(int(value))
    elif type(value) is str and value.isdigit():
        return value
    elif pd.isna(value):
        return np.nan
    else: 
        return np.nan
    
        

df["zip_code"].apply(cleaned_zip_code)

11      75237
1       78745
51      76087
29      75067
30      75605
        ...
3538    76932
3618    77029
3126    77530
3651    78215
3652    78257
Name: zip_code, Length: 3779, dtype: object

In [82]:
df["zip_code"] = df["zip_code"].astype(int)
df

           date state         city  zip_code
11   2010-12-30    TX       Dallas     75237
1    2011-01-15    TX       Austin     78745
51   2011-03-15    TX  Weatherford     76087
29   2011-03-15    TX   Lewisville     75067
30   2011-03-15    TX     Longview     75605
...         ...   ...          ...       ...
3538 2024-10-04    TX     Big Lake     76932
3618 2024-12-06    TX      Houston     77029
3126        NaT    TX  Channelview     77530
3651        NaT    TX  San Antonio     78215
3652        NaT    TX  San Antonio     78257

[3779 rows x 4 columns]

In [84]:
type(df["zip_code"].values[0])

numpy.int64

In [56]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [58]:
ca_jdpower_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/JD_Power_alt_fuel_stations_california_2024.csv"),
    index_col="Open Date",
    parse_dates=True,
)

print("Shape:", ca_jdpower_fuelstation_df.shape)
ca_jdpower_fuelstation_df.sort_values("Open Date")

display(ca_jdpower_fuelstation_df.head())
display(ca_jdpower_fuelstation_df.tail())

Shape: (17725, 74)

/var/folders/07/6wrk2d5d7_ggvw77n55lwq_40000gn/T/ipykernel_59971/3449879937.py:1: DtypeWarning: Columns (6,20,31,46,69,73) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_jdpower_fuelstation_df = pd.read_csv(

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
1995-08-30,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015.0,NaN,213-741-1151,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
1996-10-15,ELEC,California Air Resources Board,9530 Telstar Ave,NaN,El Monte,CA,91731.0,NaN,626-575-6800,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1997-07-30,ELEC,Scripps Green Hospital,10666 N Torrey Pines Rd,"Patient Parking Structure, level G",La Jolla,CA,92037.0,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2012-12-11,ELEC,Galpin Motors,15421 Roscoe Blvd,NaN,Sepulveda,CA,91343.0,NaN,800-256-6219,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD,False,NaN
1997-08-30,ELEC,Galleria at Tyler,1299 Galleria at Tyler,NaN,Riverside,CA,92503.0,NaN,951-351-3110,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2024-08-31,ELEC,OAKLEY CIVIC C1 CHARGER 8 EAST,3374 Main St,NaN,Oakley,CA,94561,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-31,ELEC,OAKLEY CIVIC C1 CHARGER 9 EAST,3374 Main St,NaN,Oakley,CA,94561,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-31,ELEC,OAKLEY CIVIC C1 CHARGER 10 EAST,3374 Main St,NaN,Oakley,CA,94561,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-09-01,ELEC,Safeway San Mateo (El Camino) #0970,1655 S El Camino Real,NaN,San Mateo,CA,94402,NaN,877-455-3833,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2012-02-24,ELEC,Kaiser Foundation Hospitals - Woodland Hills,5601 De Soto Avenue,NaN,Los Angeles,CA,91367,NaN,888-998-2546,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [60]:
ca_jdpower_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17725 entries, 1995-08-30 to 2012-02-24
Data columns (total 74 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           17725 non-null  object
 1   Station Name                             17725 non-null  object
 2   Street Address                           17711 non-null  object
 3   Intersection Directions                  6386 non-null   object
 4   City                                     17711 non-null  object
 5   State                                    17725 non-null  object
 6   ZIP                                      17711 non-null  object
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            17574 non-null  object
 9   Status Code                              17725 non-null  object
 10  Expected Date                            1573 non-null   object
 11  Groups With Access Code                  17725 non-null  object
 12  Access Days Time                         16715 non-null  object
 13  Cards Accepted                           1172 non-null   object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       43 non-null     float64
 18  EV Level2 EVSE Num                       15607 non-null  float64
 19  EV DC Fast Count                         2426 non-null   float64
 20  EV Other Info                            13 non-null     object
 21  EV Network                               17725 non-null  object
 22  EV Network Web                           16828 non-null  object
 23  Geocode Status                           17724 non-null  object
 24  Latitude                                 17725 non-null  float64
 25  Longitude                                17725 non-null  float64
 26  Date Last Confirmed                      17676 non-null  object
 27  ID                                       17725 non-null  int64
 28  Updated At                               17725 non-null  object
 29  Owner Type Code                          2675 non-null   object
 30  Federal Agency ID                        9 non-null      float64
 31  Federal Agency Name                      9 non-null      object
 32  Hydrogen Status Link                     0 non-null      float64
 33  NG Vehicle Class                         0 non-null      float64
 34  LPG Primary                              0 non-null      float64
 35  E85 Blender Pump                         0 non-null      float64
 36  EV Connector Types                       17712 non-null  object
 37  Country                                  17725 non-null  object
 38  Intersection Directions (French)         0 non-null      float64
 39  Access Days Time (French)                0 non-null      float64
 40  BD Blends (French)                       0 non-null      float64
 41  Groups With Access Code (French)         17725 non-null  object
 42  Hydrogen Is Retail                       0 non-null      float64
 43  Access Code                              17725 non-null  object
 44  Access Detail Code                       540 non-null    object
 45  Federal Agency Code                      9 non-null      object
 46  Facility Type                            2649 non-null   object
 47  CNG Dispenser Num                        0 non-null      float64
 48  CNG On-Site Renewable Source             0 non-null      float64
 49  CNG Total Compression Capacity           0 non-null      float64
 50  CNG Storage Capacity                     0 non-null      float64
 51  LNG On-Site Renewable Source             0 non-null      float64
 52  E85 Other Ethanol Blends                 0 non-null      float64
 53  EV Pricing                               2134 non-null   object
 54  EV Pricing (French)                      0 non-null      float64
 55  LPG Nozzle Types                         0 non-null      float64
 56  Hydrogen Pressures                       0 non-null      float64
 57  Hydrogen Standards                       0 non-null      float64
 58  CNG Fill Type Code                       0 non-null      float64
 59  CNG PSI                                  0 non-null      float64
 60  CNG Vehicle Class                        0 non-null      float64
 61  LNG Vehicle Class                        0 non-null      float64
 62  EV On-Site Renewable Source              77 non-null     object
 63  Restricted Access                        1985 non-null   object
 64  RD Blends                                0 non-null      float64
 65  RD Blends (French)                       0 non-null      float64
 66  RD Blended with Biodiesel                0 non-null      float64
 67  RD Maximum Biodiesel Level               0 non-null      float64
 68  NPS Unit Name                            27 non-null     object
 69  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 70  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  Maximum Vehicle Class                    1680 non-null   object
 72  EV Workplace Charging                    17715 non-null  object
 73  Funding Sources                          0 non-null      float64
dtypes: float64(39), int64(1), object(34)
memory usage: 10.1+ MB

In [62]:
select_columns = ["State","City","ZIP"]

df = ca_jdpower_fuelstation_df[select_columns].reset_index()
df

       Open Date State         City      ZIP
0     1995-08-30    CA  Los Angeles  90015.0
1     1996-10-15    CA     El Monte  91731.0
2     1997-07-30    CA     La Jolla  92037.0
3     2012-12-11    CA    Sepulveda  91343.0
4     1997-08-30    CA    Riverside  92503.0
...          ...   ...          ...      ...
17720 2024-08-31    CA       Oakley    94561
17721 2024-08-31    CA       Oakley    94561
17722 2024-08-31    CA       Oakley    94561
17723 2024-09-01    CA    San Mateo    94402
17724 2012-02-24    CA  Los Angeles    91367

[17725 rows x 4 columns]

In [64]:
df.rename(columns={
    "Open Date": "date",
    "State": "state",
    "City": "city",
    "ZIP": "zip_code",
},inplace=True)
df

            date state         city zip_code
0     1995-08-30    CA  Los Angeles  90015.0
1     1996-10-15    CA     El Monte  91731.0
2     1997-07-30    CA     La Jolla  92037.0
3     2012-12-11    CA    Sepulveda  91343.0
4     1997-08-30    CA    Riverside  92503.0
...          ...   ...          ...      ...
17720 2024-08-31    CA       Oakley    94561
17721 2024-08-31    CA       Oakley    94561
17722 2024-08-31    CA       Oakley    94561
17723 2024-09-01    CA    San Mateo    94402
17724 2012-02-24    CA  Los Angeles    91367

[17725 rows x 4 columns]

In [66]:
df.sort_values("date",inplace=True)
df

            date state                 city zip_code
0     1995-08-30    CA          Los Angeles  90015.0
1     1996-10-15    CA             El Monte  91731.0
2     1997-07-30    CA             La Jolla  92037.0
4     1997-08-30    CA            Riverside  92503.0
5     1997-08-30    CA             Pasadena  91103.0
...          ...   ...                  ...      ...
16806        NaT    CA           Sacramento    95837
16808        NaT    CA          Bakersfield    93311
17372        NaT    CA  San Juan Capistrano    92675
17373        NaT    CA             Whittier    90603
17512        NaT    CA           Santa Rosa    95403

[17725 rows x 4 columns]

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17725 entries, 0 to 17512
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      17693 non-null  datetime64[ns]
 1   state     17725 non-null  object
 2   city      17711 non-null  object
 3   zip_code  17711 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 692.4+ KB

In [70]:
df['zip_code'].isnull().sum()

14

In [72]:
df.loc[df['zip_code'].isnull()]

            date state city zip_code
2666  2020-06-12    CA  NaN      NaN
2782  2020-06-12    CA  NaN      NaN
5262  2021-01-27    CA  NaN      NaN
5263  2021-01-27    CA  NaN      NaN
5777  2021-01-27    CA  NaN      NaN
5778  2021-01-27    CA  NaN      NaN
5779  2021-01-27    CA  NaN      NaN
5125  2021-01-27    CA  NaN      NaN
11111 2022-05-25    CA  NaN      NaN
11112 2022-05-25    CA  NaN      NaN
11113 2022-05-25    CA  NaN      NaN
11114 2022-05-25    CA  NaN      NaN
11194 2022-05-29    CA  NaN      NaN
12742 2022-11-16    CA  NaN      NaN

In [74]:
#df["zip_code"]
zip_code_list = df["zip_code"].unique().tolist()
#zip_code_list

In [78]:
def cleaned_zip_code(value):
    if type(value) is int or type(value) is float:
       return str(int(value))
    elif type(value) is str and value.isdigit():
        return value
    elif pd.isna(value):
        return np.nan
    else: 
        return np.nan
    
        

df['zip_code'].apply(cleaned_zip_code)

ValueError: cannot convert float NaN to integer

In [80]:
df['zip_code'] = df['zip_code'].astype(int)
df

ValueError: cannot convert float NaN to integer

In [84]:
type(df['zip_code'].values[0])

float

In [54]:
type(df['zip_code'].values[0])

float

In [86]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [88]:
fl_jdpower_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/JD_Power_alt_fuel_stations_florida_2024.csv"),
    index_col="Open Date",
    parse_dates=True,
)

print("Shape:", fl_jdpower_fuelstation_df.shape)
fl_jdpower_fuelstation_df.sort_values("Open Date")

display(fl_jdpower_fuelstation_df.head())
display(fl_jdpower_fuelstation_df.tail())

Shape: (3782, 74)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2011-02-15,ELEC,OUC RELIABLE 01,100 W Anderson Street,OUC Visitor Parking Lot,Orlando,FL,32801,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2012-07-31,ELEC,OUC OUC OCCC 03,9899 International Drive,East side of south concourse. Parking lot adja...,Orlando,FL,32819,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-06-15,ELEC,City of Delray Beach - Banker's Row Parking Lot,200 NE 1st Ave,Intersection of NE 1st Avenue and NE 2nd Stree...,Delray Beach,FL,33444,NaN,561-243-7000,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
2011-03-15,ELEC,Firkins Nissan,1611 Cortez Rd W,NaN,Bradenton,FL,34207,NaN,941-755-1571,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-03-15,ELEC,Maus Nissan,937 S Suncoast Blvd,NaN,Homosassa,FL,34448,NaN,352-628-4300,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2024-08-26,ELEC,FPL EVolution - Lauderdale by the Sea,4410 Bougainvilla Dr,NaN,Fort Lauderdale,FL,33308,NaN,833-919-0939,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
2024-08-26,ELEC,FPL EVolution - Wendy's,46 E 49th St,NaN,Hialeah,FL,33013,NaN,833-919-0939,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
2024-08-26,ELEC,FPL EVolution - Shopps at MICC,7800 NW 25th St,NaN,Doral,FL,33122,NaN,833-919-0939,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
2024-08-26,ELEC,FPL EVolution - Shopps at MICC,7800 NW 25th St,NaN,Doral,FL,33122,NaN,833-919-0939,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
2024-08-31,ELEC,8300 NW 36th St Doral FL 33166,8300 NW 36th S,NaN,Doral,FL,33166,NaN,1-888-222-6618,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [90]:
fl_jdpower_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3782 entries, 2011-02-15 to 2024-08-31
Data columns (total 74 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           3782 non-null   object
 1   Station Name                             3782 non-null   object
 2   Street Address                           3782 non-null   object
 3   Intersection Directions                  895 non-null    object
 4   City                                     3782 non-null   object
 5   State                                    3782 non-null   object
 6   ZIP                                      3782 non-null   int64
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            3762 non-null   object
 9   Status Code                              3782 non-null   object
 10  Expected Date                            294 non-null    object
 11  Groups With Access Code                  3782 non-null   object
 12  Access Days Time                         3392 non-null   object
 13  Cards Accepted                           277 non-null    object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       10 non-null     float64
 18  EV Level2 EVSE Num                       3250 non-null   float64
 19  EV DC Fast Count                         586 non-null    float64
 20  EV Other Info                            0 non-null      float64
 21  EV Network                               3781 non-null   object
 22  EV Network Web                           3532 non-null   object
 23  Geocode Status                           3782 non-null   object
 24  Latitude                                 3782 non-null   float64
 25  Longitude                                3782 non-null   float64
 26  Date Last Confirmed                      3761 non-null   object
 27  ID                                       3782 non-null   int64
 28  Updated At                               3782 non-null   object
 29  Owner Type Code                          882 non-null    object
 30  Federal Agency ID                        0 non-null      float64
 31  Federal Agency Name                      0 non-null      float64
 32  Hydrogen Status Link                     0 non-null      float64
 33  NG Vehicle Class                         0 non-null      float64
 34  LPG Primary                              0 non-null      float64
 35  E85 Blender Pump                         0 non-null      float64
 36  EV Connector Types                       3781 non-null   object
 37  Country                                  3782 non-null   object
 38  Intersection Directions (French)         0 non-null      float64
 39  Access Days Time (French)                0 non-null      float64
 40  BD Blends (French)                       0 non-null      float64
 41  Groups With Access Code (French)         3782 non-null   object
 42  Hydrogen Is Retail                       0 non-null      float64
 43  Access Code                              3782 non-null   object
 44  Access Detail Code                       156 non-null    object
 45  Federal Agency Code                      0 non-null      float64
 46  Facility Type                            790 non-null    object
 47  CNG Dispenser Num                        0 non-null      float64
 48  CNG On-Site Renewable Source             0 non-null      float64
 49  CNG Total Compression Capacity           0 non-null      float64
 50  CNG Storage Capacity                     0 non-null      float64
 51  LNG On-Site Renewable Source             0 non-null      float64
 52  E85 Other Ethanol Blends                 0 non-null      float64
 53  EV Pricing                               956 non-null    object
 54  EV Pricing (French)                      0 non-null      float64
 55  LPG Nozzle Types                         0 non-null      float64
 56  Hydrogen Pressures                       0 non-null      float64
 57  Hydrogen Standards                       0 non-null      float64
 58  CNG Fill Type Code                       0 non-null      float64
 59  CNG PSI                                  0 non-null      float64
 60  CNG Vehicle Class                        0 non-null      float64
 61  LNG Vehicle Class                        0 non-null      float64
 62  EV On-Site Renewable Source              1 non-null      object
 63  Restricted Access                        479 non-null    object
 64  RD Blends                                0 non-null      float64
 65  RD Blends (French)                       0 non-null      float64
 66  RD Blended with Biodiesel                0 non-null      float64
 67  RD Maximum Biodiesel Level               0 non-null      float64
 68  NPS Unit Name                            6 non-null      object
 69  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 70  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  Maximum Vehicle Class                    428 non-null    object
 72  EV Workplace Charging                    3782 non-null   bool
 73  Funding Sources                          0 non-null      float64
dtypes: bool(1), float64(42), int64(2), object(29)
memory usage: 2.1+ MB

In [92]:
select_columns = ["State","City","ZIP"]

df = fl_jdpower_fuelstation_df[select_columns].reset_index()
df

      Open Date State             City    ZIP
0    2011-02-15    FL          Orlando  32801
1    2012-07-31    FL          Orlando  32819
2    2011-06-15    FL     Delray Beach  33444
3    2011-03-15    FL        Bradenton  34207
4    2011-03-15    FL        Homosassa  34448
...         ...   ...              ...    ...
3777 2024-08-26    FL  Fort Lauderdale  33308
3778 2024-08-26    FL          Hialeah  33013
3779 2024-08-26    FL            Doral  33122
3780 2024-08-26    FL            Doral  33122
3781 2024-08-31    FL            Doral  33166

[3782 rows x 4 columns]

In [94]:
df.rename(columns={
    "Open Date": "date",
    "State": "state",
    "City": "city",
    "ZIP": "zip_code",
},inplace=True)
df

           date state             city  zip_code
0    2011-02-15    FL          Orlando     32801
1    2012-07-31    FL          Orlando     32819
2    2011-06-15    FL     Delray Beach     33444
3    2011-03-15    FL        Bradenton     34207
4    2011-03-15    FL        Homosassa     34448
...         ...   ...              ...       ...
3777 2024-08-26    FL  Fort Lauderdale     33308
3778 2024-08-26    FL          Hialeah     33013
3779 2024-08-26    FL            Doral     33122
3780 2024-08-26    FL            Doral     33122
3781 2024-08-31    FL            Doral     33166

[3782 rows x 4 columns]

In [96]:
df.sort_values("date",inplace=True)
df

           date state               city  zip_code
0    2011-02-15    FL            Orlando     32801
21   2011-03-15    FL       Winter Haven     33884
20   2011-03-15    FL         Vero Beach     32962
18   2011-03-15    FL              Tampa     33614
17   2011-03-15    FL             Stuart     34997
...         ...   ...                ...       ...
1310        NaT    FL      Daytona Beach     32214
2668        NaT    FL              Largo     33773
2669        NaT    FL           Seminole     33776
3214        NaT    FL  Panama City Beach     32407
3722        NaT    FL    Sun City Center     33573

[3782 rows x 4 columns]

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3782 entries, 0 to 3722
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3758 non-null   datetime64[ns]
 1   state     3782 non-null   object
 2   city      3782 non-null   object
 3   zip_code  3782 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 147.7+ KB

In [100]:
df['zip_code'].isnull().sum()

0

In [102]:
df.loc[df['zip_code'].isnull()]

Empty DataFrame
Columns: [date, state, city, zip_code]
Index: []

In [104]:
#df["zip_code"]
zip_code_list = df['zip_code'].unique().tolist()
#zip_code_list

In [108]:
def cleaned_zip_code(value):
    if type(value) is int or type(value) is float:
       return str(int(value))
    elif type(value) is str and value.isdigit():
        return value
    elif pd.isna(value):
        return np.nan
    else: 
        return np.nan
    
        

df['zip_code'].apply(cleaned_zip_code)

0       32801
21      33884
20      32962
18      33614
17      34997
        ...
1310    32214
2668    33773
2669    33776
3214    32407
3722    33573
Name: zip_code, Length: 3782, dtype: object

In [110]:
df['zip_code'] = df['zip_code'].astype(int)
df

           date state               city  zip_code
0    2011-02-15    FL            Orlando     32801
21   2011-03-15    FL       Winter Haven     33884
20   2011-03-15    FL         Vero Beach     32962
18   2011-03-15    FL              Tampa     33614
17   2011-03-15    FL             Stuart     34997
...         ...   ...                ...       ...
1310        NaT    FL      Daytona Beach     32214
2668        NaT    FL              Largo     33773
2669        NaT    FL           Seminole     33776
3214        NaT    FL  Panama City Beach     32407
3722        NaT    FL    Sun City Center     33573

[3782 rows x 4 columns]

In [112]:
type(df['zip_code'].values[0])

numpy.int64

In [115]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [125]:
tx_jdpower_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/JD_Power_alt_fuel_stations_texas_2024.csv"),
    index_col="Open Date",
    parse_dates=True,
)

print("Shape:", tx_jdpower_fuelstation_df.shape)
tx_jdpower_fuelstation_df.sort_values("Open Date")

display(tx_jdpower_fuelstation_df.head())
display(tx_jdpower_fuelstation_df.tail())

Shape: (3846, 74)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2015-10-02,ELEC,BROOKFIELD PROP 300 CLAY STAT1,300 Clay St Allen Ctr Garage,1st floor garage,Houston,TX,77002,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-01-15,ELEC,Clay Cooley Nissan,4914 S IH-35,NaN,Austin,TX,78745,NaN,512-444-1400,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
2011-03-15,ELEC,McGavock Nissan - Abilene,818 E Overland Trail,NaN,Abilene,TX,79606,NaN,325-695-2970,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-03-15,ELEC,McGavock Nissan - Amarillo,4700 S Soncy Rd,NaN,Amarillo,TX,79119,NaN,806-354-3550,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2011-03-15,ELEC,Don Davis Nissan,1320 E Interstate 20,NaN,Arlington,TX,76018,NaN,817-588-5475,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
Open Date,,,,,,,,,,,,,,,,,,,,,
2024-08-30,ELEC,The Shops at Park Lane 04 J Crew,8080 Park Ln #770,NaN,Dallas,TX,75231,NaN,855-900-7584,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-30,ELEC,Topgolf - Austin,2700 Esperanza Crossing,NaN,Austin,TX,78758,NaN,855-900-7584,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-30,ELEC,Topgolf - Webster TX,21401 Gulf Freeway,NaN,Webster,TX,77598,NaN,855-900-7584,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-08-30,ELEC,Wagner Cadillac,5855 Old Jacksonville Highway,NaN,Tyler,TX,75703,NaN,866-816-7584,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2024-09-01,ELEC,Target Dallas #T0013,13131 Montfort Dr,NaN,Dallas,TX,75240,NaN,877-455-3833,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [129]:
tx_jdpower_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3846 entries, 2015-10-02 to 2024-09-01
Data columns (total 74 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           3846 non-null   object
 1   Station Name                             3845 non-null   object
 2   Street Address                           3846 non-null   object
 3   Intersection Directions                  1066 non-null   object
 4   City                                     3846 non-null   object
 5   State                                    3846 non-null   object
 6   ZIP                                      3846 non-null   int64
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            3786 non-null   object
 9   Status Code                              3846 non-null   object
 10  Expected Date                            372 non-null    object
 11  Groups With Access Code                  3846 non-null   object
 12  Access Days Time                         3504 non-null   object
 13  Cards Accepted                           574 non-null    object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       12 non-null     float64
 18  EV Level2 EVSE Num                       3285 non-null   float64
 19  EV DC Fast Count                         612 non-null    float64
 20  EV Other Info                            0 non-null      float64
 21  EV Network                               3832 non-null   object
 22  EV Network Web                           3623 non-null   object
 23  Geocode Status                           3846 non-null   object
 24  Latitude                                 3846 non-null   float64
 25  Longitude                                3846 non-null   float64
 26  Date Last Confirmed                      3829 non-null   object
 27  ID                                       3846 non-null   int64
 28  Updated At                               3846 non-null   object
 29  Owner Type Code                          1069 non-null   object
 30  Federal Agency ID                        1 non-null      float64
 31  Federal Agency Name                      1 non-null      object
 32  Hydrogen Status Link                     0 non-null      float64
 33  NG Vehicle Class                         0 non-null      float64
 34  LPG Primary                              0 non-null      float64
 35  E85 Blender Pump                         0 non-null      float64
 36  EV Connector Types                       3832 non-null   object
 37  Country                                  3846 non-null   object
 38  Intersection Directions (French)         0 non-null      float64
 39  Access Days Time (French)                0 non-null      float64
 40  BD Blends (French)                       0 non-null      float64
 41  Groups With Access Code (French)         3846 non-null   object
 42  Hydrogen Is Retail                       0 non-null      float64
 43  Access Code                              3846 non-null   object
 44  Access Detail Code                       409 non-null    object
 45  Federal Agency Code                      1 non-null      object
 46  Facility Type                            964 non-null    object
 47  CNG Dispenser Num                        0 non-null      float64
 48  CNG On-Site Renewable Source             0 non-null      float64
 49  CNG Total Compression Capacity           0 non-null      float64
 50  CNG Storage Capacity                     0 non-null      float64
 51  LNG On-Site Renewable Source             0 non-null      float64
 52  E85 Other Ethanol Blends                 0 non-null      float64
 53  EV Pricing                               827 non-null    object
 54  EV Pricing (French)                      0 non-null      float64
 55  LPG Nozzle Types                         0 non-null      float64
 56  Hydrogen Pressures                       0 non-null      float64
 57  Hydrogen Standards                       0 non-null      float64
 58  CNG Fill Type Code                       0 non-null      float64
 59  CNG PSI                                  0 non-null      float64
 60  CNG Vehicle Class                        0 non-null      float64
 61  LNG Vehicle Class                        0 non-null      float64
 62  EV On-Site Renewable Source              4 non-null      object
 63  Restricted Access                        808 non-null    object
 64  RD Blends                                0 non-null      float64
 65  RD Blends (French)                       0 non-null      float64
 66  RD Blended with Biodiesel                0 non-null      float64
 67  RD Maximum Biodiesel Level               0 non-null      float64
 68  NPS Unit Name                            2 non-null      object
 69  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 70  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  Maximum Vehicle Class                    718 non-null    object
 72  EV Workplace Charging                    3832 non-null   object
 73  Funding Sources                          0 non-null      float64
dtypes: float64(40), int64(2), object(32)
memory usage: 2.2+ MB

In [131]:
select_columns = ["State","City","ZIP"]

df = tx_jdpower_fuelstation_df[select_columns].reset_index()
df

      Open Date State       City    ZIP
0    2015-10-02    TX    Houston  77002
1    2011-01-15    TX     Austin  78745
2    2011-03-15    TX    Abilene  79606
3    2011-03-15    TX   Amarillo  79119
4    2011-03-15    TX  Arlington  76018
...         ...   ...        ...    ...
3841 2024-08-30    TX     Dallas  75231
3842 2024-08-30    TX     Austin  78758
3843 2024-08-30    TX    Webster  77598
3844 2024-08-30    TX      Tyler  75703
3845 2024-09-01    TX     Dallas  75240

[3846 rows x 4 columns]

In [133]:
df.rename(columns={
    "Open Date": "date",
    "State": "state",
    "City": "city",
    "ZIP": "zip_code",
},inplace=True)
df

           date state       city  zip_code
0    2015-10-02    TX    Houston     77002
1    2011-01-15    TX     Austin     78745
2    2011-03-15    TX    Abilene     79606
3    2011-03-15    TX   Amarillo     79119
4    2011-03-15    TX  Arlington     76018
...         ...   ...        ...       ...
3841 2024-08-30    TX     Dallas     75231
3842 2024-08-30    TX     Austin     78758
3843 2024-08-30    TX    Webster     77598
3844 2024-08-30    TX      Tyler     75703
3845 2024-09-01    TX     Dallas     75240

[3846 rows x 4 columns]

In [135]:
df.sort_values('date',inplace=True)
df

           date state               city  zip_code
11   2010-12-30    TX             Dallas     75237
1    2011-01-15    TX             Austin     78745
51   2011-03-15    TX        Weatherford     76087
29   2011-03-15    TX         Lewisville     75067
30   2011-03-15    TX           Longview     75605
...         ...   ...                ...       ...
3647        NaT    TX              Plano     75023
3648        NaT    TX             Sachse     75048
3649        NaT    TX  Westworth Village     76114
3695        NaT    TX        San Antonio     78215
3696        NaT    TX        San Antonio     78257

[3846 rows x 4 columns]

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3846 entries, 11 to 3696
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3793 non-null   datetime64[ns]
 1   state     3846 non-null   object
 2   city      3846 non-null   object
 3   zip_code  3846 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 150.2+ KB

In [139]:
df['zip_code'].isnull().sum()

0

In [141]:
df.loc[df['zip_code'].isnull()]

Empty DataFrame
Columns: [date, state, city, zip_code]
Index: []

In [143]:
#df["zip_code"]
zip_code_list = df['zip_code'].unique().tolist()
#zip_code_list

In [145]:
def cleaned_zip_code(value):
    if type(value) is int or type(value) is float:
       return str(int(value))
    elif type(value) is str and value.isdigit():
        return value
    elif pd.isna(value):
        return np.nan
    else: 
        return np.nan
    
        

df['zip_code'].apply(cleaned_zip_code)

11      75237
1       78745
51      76087
29      75067
30      75605
        ...
3647    75023
3648    75048
3649    76114
3695    78215
3696    78257
Name: zip_code, Length: 3846, dtype: object

In [147]:
df['zip_code'] = df['zip_code'].astype(int)
df

           date state               city  zip_code
11   2010-12-30    TX             Dallas     75237
1    2011-01-15    TX             Austin     78745
51   2011-03-15    TX        Weatherford     76087
29   2011-03-15    TX         Lewisville     75067
30   2011-03-15    TX           Longview     75605
...         ...   ...                ...       ...
3647        NaT    TX              Plano     75023
3648        NaT    TX             Sachse     75048
3649        NaT    TX  Westworth Village     76114
3695        NaT    TX        San Antonio     78215
3696        NaT    TX        San Antonio     78257

[3846 rows x 4 columns]

In [149]:
type(df['zip_code'].values[0])

numpy.int64

In [ ]:
Saving this cell