In [8]:
from pathlib import Path
import datetime as dt
import pandas as pd

In [9]:
df = pd.read_csv(
    Path("../../../../data/raw_data/TX_EV_Registrations.csv"),
    dtype={7 : str},
)

print("Shape:", df.shape)
display(df.head())

Shape: (2274866, 13)

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year,Drivetrain Type,Vehicle GVWR Class,Vehicle GVWR Category,Vehicle Count,DMV Snapshot ID,DMV Snapshot (Date),Latest DMV Snapshot Flag
0,TX,75002,8/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,7,DMV Snapshot (10/1/2023),False
1,TX,77090,8/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,7,DMV Snapshot (10/1/2023),False
2,TX,76053,8/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,7,DMV Snapshot (10/1/2023),False
3,TX,76031,8/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,7,DMV Snapshot (10/1/2023),False
4,TX,76028,8/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,7,DMV Snapshot (10/1/2023),False

In [10]:
for index, value in enumerate(df.columns):
    print(index, value)

0 State
1 ZIP Code
2 Registration Date
3 Vehicle Make
4 Vehicle Model
5 Vehicle Model Year
6 Drivetrain Type
7 Vehicle GVWR Class
8 Vehicle GVWR Category
9 Vehicle Count
10 DMV Snapshot ID
11 DMV Snapshot (Date)
12 Latest DMV Snapshot Flag

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2274866 entries, 0 to 2274865
Data columns (total 13 columns):
 #   Column                    Dtype
---  ------                    -----
 0   State                     object
 1   ZIP Code                  object
 2   Registration Date         object
 3   Vehicle Make              object
 4   Vehicle Model             object
 5   Vehicle Model Year        int64
 6   Drivetrain Type           object
 7   Vehicle GVWR Class        object
 8   Vehicle GVWR Category     object
 9   Vehicle Count             int64
 10  DMV Snapshot ID           int64
 11  DMV Snapshot (Date)       object
 12  Latest DMV Snapshot Flag  bool
dtypes: bool(1), int64(3), object(9)
memory usage: 210.4+ MB

In [12]:
# Create a new DataFrame with only the columns needed for the analysis
df_clean = df.loc[:, ["State", "ZIP Code", "Registration Date", "Vehicle Make", "Vehicle Model", "Vehicle Model Year"]]

print("Shape:", df_clean.shape)
display(df_clean.head())

Shape: (2274866, 6)

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year
0,TX,75002,8/1/2023,TESLA,MODEL 3,2021
1,TX,77090,8/1/2023,TESLA,MODEL 3,2021
2,TX,76053,8/1/2023,TESLA,MODEL 3,2021
3,TX,76031,8/1/2023,TESLA,MODEL 3,2021
4,TX,76028,8/1/2023,TESLA,MODEL 3,2021

In [13]:
# Rename columns to manageable names

df_clean = df_clean.rename(columns={
    "State": "state",
    "ZIP Code": "zip_code",
    "Registration Date": "registration_date",
    "Vehicle Make": "make",
    "Vehicle Model": "model",
    "Vehicle Model Year": "year"
})

print("Shape:", df_clean.shape)
display(df_clean.head())

Shape: (2274866, 6)

  state zip_code registration_date   make    model  year
0    TX    75002          8/1/2023  TESLA  MODEL 3  2021
1    TX    77090          8/1/2023  TESLA  MODEL 3  2021
2    TX    76053          8/1/2023  TESLA  MODEL 3  2021
3    TX    76031          8/1/2023  TESLA  MODEL 3  2021
4    TX    76028          8/1/2023  TESLA  MODEL 3  2021

In [14]:
# Export to a new CSV file
"""  
New File Name:
    tx_ev_registrations.csv
    ca_ev_registrations.csv
    fl_ev_registrations.csv
"""
file_name = "tx_ev_registrations.csv"
file_path = Path(f"../../../../data/processed_data/{file_name}")

if file_path.exists():
    print("File already exists. Overwriting file.")
    file_path.unlink()

if not file_path.exists():
    print("Creating file...")
    df_clean.to_csv(file_path, index=False)
    df_clean.to_csv(file_path, index=False)
    print(f"File saved as {file_name}")

File already exists. Overwriting file.
Creating file...
File saved as tx_ev_registrations.csv