In [2]:
import pandas as pd
from pathlib import Path
import datetime as dt
import numpy as np

In [41]:
#Import 2011 Raw Median Income data
ca_raw_income10_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2010.S1903-2024-09-04T004959.csv"))
ca_raw_income11_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2011.S1903-2024-09-04T004358.csv"))
ca_raw_income12_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2012.S1903-2024-09-04T004426.csv"))
ca_raw_income13_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2013.S1903-2024-09-04T004451.csv"))
ca_raw_income14_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2014.S1903-2024-09-04T004510.csv"))
ca_raw_income15_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2015.S1903-2024-09-04T004535.csv"))
ca_raw_income16_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2016.S1903-2024-09-04T004558.csv"))
ca_raw_income17_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2017.S1903-2024-09-04T004654.csv"))
ca_raw_income18_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2018.S1903-2024-09-04T004748.csv"))
ca_raw_income19_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2019.S1903-2024-09-04T004826.csv"))
ca_raw_income20_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2020.S1903-2024-09-04T004856.csv"))

2010 Data

In [29]:
#Examine 2010 Data
print("Shape:",ca_raw_income10_df.shape)
display(ca_raw_income10_df.columns)
display(ca_raw_income10_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    532,026
3      Median income (dollars)        NaN
4                     Estimate     69,384
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        410
8      Median income (dollars)        NaN
9                     Estimate     63,478

In [34]:
#Rename 2010 Columns
ca_10_df = ca_raw_income10_df.rename(columns={"Label (Grouping)":"County","Households":"2010 Median Income"})
ca_10_df.head(10)

                        County 2010 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            532,026
3      Median income (dollars)                NaN
4                     Estimate             69,384
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                410
8      Median income (dollars)                NaN
9                     Estimate             63,478