In [1]:
import pandas as pd
from pathlib import Path
import datetime as dt
import numpy as np

In [2]:
#Import 2011 Raw Median Income data
ca_raw_10_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2010.S1903-2024-09-04T004959.csv"))
ca_raw_11_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2011.S1903-2024-09-04T004358.csv"))
ca_raw_12_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2012.S1903-2024-09-04T004426.csv"))
ca_raw_13_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2013.S1903-2024-09-04T004451.csv"))
ca_raw_14_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2014.S1903-2024-09-04T004510.csv"))
ca_raw_15_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2015.S1903-2024-09-04T004535.csv"))
ca_raw_16_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2016.S1903-2024-09-04T004558.csv"))
ca_raw_17_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2017.S1903-2024-09-04T004654.csv"))
ca_raw_18_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2018.S1903-2024-09-04T004748.csv"))
ca_raw_19_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2019.S1903-2024-09-04T004826.csv"))
ca_raw_20_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2020.S1903-2024-09-04T004856.csv"))

**2010 Data**

In [4]:
#2010 Data
print("Shape:",ca_raw_10_df.shape)
display(ca_raw_10_df.columns)
display(ca_raw_10_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    532,026
3      Median income (dollars)        NaN
4                     Estimate     69,384
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        410
8      Median income (dollars)        NaN
9                     Estimate     63,478

In [5]:
#Rename 2010 Columns
ca_10_df = ca_raw_10_df.rename(columns={"Label (Grouping)":"County","Households":"2010 Median Income"})
ca_10_df.head(10)

                        County 2010 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            532,026
3      Median income (dollars)                NaN
4                     Estimate             69,384
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                410
8      Median income (dollars)                NaN
9                     Estimate             63,478

In [6]:
#Moving County names
ca_10_df['county'] = ca_10_df['County'].where(ca_10_df['County'].str.contains('County'))

ca_10_df['county'] = ca_10_df['county'].ffill()

ca_10_df = ca_10_df.loc[~ca_10_df['County'].str.contains('County')]

ca_10_df.head(15)

                         County 2010 Median Income                      county
1                         Total                NaN  Alameda County, California
2                      Estimate            532,026  Alameda County, California
3       Median income (dollars)                NaN  Alameda County, California
4                      Estimate             69,384  Alameda County, California
6                         Total                NaN   Alpine County, California
7                      Estimate                410   Alpine County, California
8       Median income (dollars)                NaN   Alpine County, California
9                      Estimate             63,478   Alpine County, California
11                        Total                NaN   Amador County, California
12                     Estimate             14,715   Amador County, California
13      Median income (dollars)                NaN   Amador County, California
14                     Estimate             54,758   Amador County, California
16                        Total                NaN    Butte County, California
17                     Estimate             85,465    Butte County, California
18      Median income (dollars)                NaN    Butte County, California

In [7]:
#Moving values
filter_number = ca_10_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_10_df.loc[filter_num_plus,["2010 Median Income"]]

ca_10_df.head(15)

                         County 2010 Median Income                      county
1                         Total                NaN  Alameda County, California
2                      Estimate            532,026  Alameda County, California
3       Median income (dollars)                NaN  Alameda County, California
4                      Estimate             69,384  Alameda County, California
6                         Total                NaN   Alpine County, California
7                      Estimate                410   Alpine County, California
8       Median income (dollars)                NaN   Alpine County, California
9                      Estimate             63,478   Alpine County, California
11                        Total                NaN   Amador County, California
12                     Estimate             14,715   Amador County, California
13      Median income (dollars)                NaN   Amador County, California
14                     Estimate             54,758   Amador County, California
16                        Total                NaN    Butte County, California
17                     Estimate             85,465    Butte County, California
18      Median income (dollars)                NaN    Butte County, California

In [8]:
#Moving Median Income Values
ca_10_df['number'] = ca_10_df["2010 Median Income"].where(ca_10_df.index.isin(filter_num_plus))

#ca_10_df['number'] = ca_10_df['number'].ffill()

ca_10_df = ca_10_df.loc[~ca_10_df['2010 Median Income'].isnull()]

pd.set_option('future.no_silent_downcasting', True)

ca_10_df.head(15)

,County,2010 Median Income,county,number
2,Estimate,"532,026","Alameda County, California",NaN
4,Estimate,"69,384","Alameda County, California",NaN
7,Estimate,410,"Alpine County, California",NaN
9,Estimate,"63,478","Alpine County, California",NaN
12,Estimate,"14,715","Amador County, California",NaN
14,Estimate,"54,758","Amador County, California",NaN
17,Estimate,"85,465","Butte County, California",NaN
19,Estimate,"43,170","Butte County, California",NaN
22,Estimate,"18,794","Calaveras County, California",NaN
24,Estimate,"54,971","Calaveras County, California",NaN
27,Estimate,"6,972","Colusa County, California",NaN
29,Estimate,"48,016","Colusa County, California",NaN
32,Estimate,"368,087","Contra Costa County, California",NaN
34,Estimate,"78,385","Contra Costa County, California",NaN
37,Estimate,"9,906","Del Norte County, California",NaN

In [9]:
#Drop unnecessary columns
ca_10_df = ca_10_df.reset_index(drop=True)

ca_10_df = ca_10_df.drop(["County","number"], axis=1)

ca_10_df.head(15)

   2010 Median Income                           county
0             532,026       Alameda County, California
1              69,384       Alameda County, California
2                 410        Alpine County, California
3              63,478        Alpine County, California
4              14,715        Amador County, California
5              54,758        Amador County, California
6              85,465         Butte County, California
7              43,170         Butte County, California
8              18,794     Calaveras County, California
9              54,971     Calaveras County, California
10              6,972        Colusa County, California
11             48,016        Colusa County, California
12            368,087  Contra Costa County, California
13             78,385  Contra Costa County, California
14              9,906     Del Norte County, California

In [10]:
#Only keep every third row (actual median income value)

ca_10_df = ca_10_df.iloc[1::2]

ca_10_df.head(15)

   2010 Median Income                           county
1              69,384       Alameda County, California
3              63,478        Alpine County, California
5              54,758        Amador County, California
7              43,170         Butte County, California
9              54,971     Calaveras County, California
11             48,016        Colusa County, California
13             78,385  Contra Costa County, California
15             36,118     Del Norte County, California
17             70,000     El Dorado County, California
19             46,430        Fresno County, California
21             43,074         Glenn County, California
23             40,089      Humboldt County, California
25             38,685      Imperial County, California
27             44,808          Inyo County, California
29             47,089          Kern County, California

In [11]:
#Only keep county names
ca_10_df["county"] = ca_10_df["county"].str.replace(", California", "")

ca_10_df.head(10)

   2010 Median Income               county
1              69,384       Alameda County
3              63,478        Alpine County
5              54,758        Amador County
7              43,170         Butte County
9              54,971     Calaveras County
11             48,016        Colusa County
13             78,385  Contra Costa County
15             36,118     Del Norte County
17             70,000     El Dorado County
19             46,430        Fresno County

In [12]:
#Reset index and rename column
ca_10_df = ca_10_df.reset_index(drop=True)

ca_10_df.rename(columns={"county":"County"},inplace=True)

ca_10_df.head(15)

   2010 Median Income               County
0              69,384       Alameda County
1              63,478        Alpine County
2              54,758        Amador County
3              43,170         Butte County
4              54,971     Calaveras County
5              48,016        Colusa County
6              78,385  Contra Costa County
7              36,118     Del Norte County
8              70,000     El Dorado County
9              46,430        Fresno County
10             43,074         Glenn County
11             40,089      Humboldt County
12             38,685      Imperial County
13             44,808          Inyo County
14             47,089          Kern County

In [13]:
ca_Clean10_df = ca_10_df.set_index("County")

ca_Clean10_df.head(10)

                    2010 Median Income
County
Alameda County                  69,384
Alpine County                   63,478
Amador County                   54,758
Butte County                    43,170
Calaveras County                54,971
Colusa County                   48,016
Contra Costa County             78,385
Del Norte County                36,118
El Dorado County                70,000
Fresno County                   46,430

**2011 Data**

In [28]:
#2011 Data
print("Shape:",ca_raw_11_df.shape)
display(ca_raw_11_df.columns)
display(ca_raw_11_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    536,160
3      Median income (dollars)        NaN
4                     Estimate     70,821
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        357
8      Median income (dollars)        NaN
9                     Estimate     59,018

In [30]:
#Rename 2011 Columns
ca_11_df = ca_raw_11_df.rename(columns={"Label (Grouping)":"County","Households":"2011 Median Income"})
ca_11_df.head(10)

                        County 2011 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            536,160
3      Median income (dollars)                NaN
4                     Estimate             70,821
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                357
8      Median income (dollars)                NaN
9                     Estimate             59,018

In [ ]:
#Moving County names
ca_10_df['county'] = ca_10_df['County'].where(ca_10_df['County'].str.contains('County'))

ca_10_df['county'] = ca_10_df['county'].ffill()

ca_10_df = ca_10_df.loc[~ca_10_df['County'].str.contains('County')]

ca_10_df.head(15)