In [1]:
import pandas as pd
from pathlib import Path
import datetime as dt
import numpy as np

In [2]:
#Import 2011 Raw Median Income data
ca_raw_10_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2010.S1903-2024-09-04T004959.csv"))
ca_raw_11_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2011.S1903-2024-09-04T004358.csv"))
ca_raw_12_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2012.S1903-2024-09-04T004426.csv"))
ca_raw_13_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2013.S1903-2024-09-04T004451.csv"))
ca_raw_14_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2014.S1903-2024-09-04T004510.csv"))
ca_raw_15_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2015.S1903-2024-09-04T004535.csv"))
ca_raw_16_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2016.S1903-2024-09-04T004558.csv"))
ca_raw_17_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2017.S1903-2024-09-04T004654.csv"))
ca_raw_18_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2018.S1903-2024-09-04T004748.csv"))
ca_raw_19_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2019.S1903-2024-09-04T004826.csv"))
ca_raw_20_df = pd.read_csv(Path("../../../../data/raw_data/median_income/ACSST5Y2020.S1903-2024-09-04T004856.csv"))

**2010 Data**

In [4]:
#2010 Data
print("Shape:",ca_raw_10_df.shape)
display(ca_raw_10_df.columns)
display(ca_raw_10_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    532,026
3      Median income (dollars)        NaN
4                     Estimate     69,384
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        410
8      Median income (dollars)        NaN
9                     Estimate     63,478

In [5]:
#Rename 2010 Columns
ca_10_df = ca_raw_10_df.rename(columns={"Label (Grouping)":"County","Households":"2010 Median Income"})
ca_10_df.head(10)

                        County 2010 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            532,026
3      Median income (dollars)                NaN
4                     Estimate             69,384
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                410
8      Median income (dollars)                NaN
9                     Estimate             63,478

In [6]:
#Moving County names
ca_10_df['county'] = ca_10_df['County'].where(ca_10_df['County'].str.contains('County'))

ca_10_df['county'] = ca_10_df['county'].ffill()

ca_10_df = ca_10_df.loc[~ca_10_df['County'].str.contains('County')]

ca_10_df.head(15)

                         County 2010 Median Income                      county
1                         Total                NaN  Alameda County, California
2                      Estimate            532,026  Alameda County, California
3       Median income (dollars)                NaN  Alameda County, California
4                      Estimate             69,384  Alameda County, California
6                         Total                NaN   Alpine County, California
7                      Estimate                410   Alpine County, California
8       Median income (dollars)                NaN   Alpine County, California
9                      Estimate             63,478   Alpine County, California
11                        Total                NaN   Amador County, California
12                     Estimate             14,715   Amador County, California
13      Median income (dollars)                NaN   Amador County, California
14                     Estimate             54,758   Amador County, California
16                        Total                NaN    Butte County, California
17                     Estimate             85,465    Butte County, California
18      Median income (dollars)                NaN    Butte County, California

In [7]:
#Moving values
filter_number = ca_10_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_10_df.loc[filter_num_plus,["2010 Median Income"]]

ca_10_df.head(15)

                         County 2010 Median Income                      county
1                         Total                NaN  Alameda County, California
2                      Estimate            532,026  Alameda County, California
3       Median income (dollars)                NaN  Alameda County, California
4                      Estimate             69,384  Alameda County, California
6                         Total                NaN   Alpine County, California
7                      Estimate                410   Alpine County, California
8       Median income (dollars)                NaN   Alpine County, California
9                      Estimate             63,478   Alpine County, California
11                        Total                NaN   Amador County, California
12                     Estimate             14,715   Amador County, California
13      Median income (dollars)                NaN   Amador County, California
14                     Estimate             54,758   Amador County, California
16                        Total                NaN    Butte County, California
17                     Estimate             85,465    Butte County, California
18      Median income (dollars)                NaN    Butte County, California

In [8]:
#Moving Median Income Values
ca_10_df['number'] = ca_10_df["2010 Median Income"].where(ca_10_df.index.isin(filter_num_plus))

#ca_10_df['number'] = ca_10_df['number'].ffill()

ca_10_df = ca_10_df.loc[~ca_10_df['2010 Median Income'].isnull()]

pd.set_option('future.no_silent_downcasting', True)

ca_10_df.head(15)

,County,2010 Median Income,county,number
2,Estimate,"532,026","Alameda County, California",NaN
4,Estimate,"69,384","Alameda County, California",NaN
7,Estimate,410,"Alpine County, California",NaN
9,Estimate,"63,478","Alpine County, California",NaN
12,Estimate,"14,715","Amador County, California",NaN
14,Estimate,"54,758","Amador County, California",NaN
17,Estimate,"85,465","Butte County, California",NaN
19,Estimate,"43,170","Butte County, California",NaN
22,Estimate,"18,794","Calaveras County, California",NaN
24,Estimate,"54,971","Calaveras County, California",NaN
27,Estimate,"6,972","Colusa County, California",NaN
29,Estimate,"48,016","Colusa County, California",NaN
32,Estimate,"368,087","Contra Costa County, California",NaN
34,Estimate,"78,385","Contra Costa County, California",NaN
37,Estimate,"9,906","Del Norte County, California",NaN

In [9]:
#Drop unnecessary columns
ca_10_df = ca_10_df.reset_index(drop=True)

ca_10_df = ca_10_df.drop(["County","number"], axis=1)

ca_10_df.head(15)

   2010 Median Income                           county
0             532,026       Alameda County, California
1              69,384       Alameda County, California
2                 410        Alpine County, California
3              63,478        Alpine County, California
4              14,715        Amador County, California
5              54,758        Amador County, California
6              85,465         Butte County, California
7              43,170         Butte County, California
8              18,794     Calaveras County, California
9              54,971     Calaveras County, California
10              6,972        Colusa County, California
11             48,016        Colusa County, California
12            368,087  Contra Costa County, California
13             78,385  Contra Costa County, California
14              9,906     Del Norte County, California

In [10]:
#Only keep every other row (actual median income value)

ca_10_df = ca_10_df.iloc[1::2]

ca_10_df.head(15)

   2010 Median Income                           county
1              69,384       Alameda County, California
3              63,478        Alpine County, California
5              54,758        Amador County, California
7              43,170         Butte County, California
9              54,971     Calaveras County, California
11             48,016        Colusa County, California
13             78,385  Contra Costa County, California
15             36,118     Del Norte County, California
17             70,000     El Dorado County, California
19             46,430        Fresno County, California
21             43,074         Glenn County, California
23             40,089      Humboldt County, California
25             38,685      Imperial County, California
27             44,808          Inyo County, California
29             47,089          Kern County, California

In [11]:
#Only keep county names
ca_10_df["county"] = ca_10_df["county"].str.replace(", California", "")

ca_10_df.head(10)

   2010 Median Income               county
1              69,384       Alameda County
3              63,478        Alpine County
5              54,758        Amador County
7              43,170         Butte County
9              54,971     Calaveras County
11             48,016        Colusa County
13             78,385  Contra Costa County
15             36,118     Del Norte County
17             70,000     El Dorado County
19             46,430        Fresno County

In [12]:
#Reset index and rename column
ca_10_df = ca_10_df.reset_index(drop=True)

ca_10_df.rename(columns={"county":"County"},inplace=True)

ca_10_df.head(15)

   2010 Median Income               County
0              69,384       Alameda County
1              63,478        Alpine County
2              54,758        Amador County
3              43,170         Butte County
4              54,971     Calaveras County
5              48,016        Colusa County
6              78,385  Contra Costa County
7              36,118     Del Norte County
8              70,000     El Dorado County
9              46,430        Fresno County
10             43,074         Glenn County
11             40,089      Humboldt County
12             38,685      Imperial County
13             44,808          Inyo County
14             47,089          Kern County

In [13]:
ca_Clean10_df = ca_10_df.set_index("County")

ca_Clean10_df.head(10)

                    2010 Median Income
County
Alameda County                  69,384
Alpine County                   63,478
Amador County                   54,758
Butte County                    43,170
Calaveras County                54,971
Colusa County                   48,016
Contra Costa County             78,385
Del Norte County                36,118
El Dorado County                70,000
Fresno County                   46,430

**2011 Data**

In [15]:
#2011 Data
print("Shape:",ca_raw_11_df.shape)
display(ca_raw_11_df.columns)
display(ca_raw_11_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    536,160
3      Median income (dollars)        NaN
4                     Estimate     70,821
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        357
8      Median income (dollars)        NaN
9                     Estimate     59,018

In [16]:
#Rename 2011 Columns
ca_11_df = ca_raw_11_df.rename(columns={"Label (Grouping)":"County","Households":"2011 Median Income"})
ca_11_df.head(10)

                        County 2011 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            536,160
3      Median income (dollars)                NaN
4                     Estimate             70,821
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                357
8      Median income (dollars)                NaN
9                     Estimate             59,018

In [17]:
#Moving County names
ca_11_df['county'] = ca_11_df['County'].where(ca_11_df['County'].str.contains('County'))

ca_11_df['county'] = ca_11_df['county'].ffill()

ca_11_df = ca_11_df.loc[~ca_11_df['County'].str.contains('County')]

ca_11_df.head(15)

                         County 2011 Median Income                      county
1                         Total                NaN  Alameda County, California
2                      Estimate            536,160  Alameda County, California
3       Median income (dollars)                NaN  Alameda County, California
4                      Estimate             70,821  Alameda County, California
6                         Total                NaN   Alpine County, California
7                      Estimate                357   Alpine County, California
8       Median income (dollars)                NaN   Alpine County, California
9                      Estimate             59,018   Alpine County, California
11                        Total                NaN   Amador County, California
12                     Estimate             14,283   Amador County, California
13      Median income (dollars)                NaN   Amador County, California
14                     Estimate             56,180   Amador County, California
16                        Total                NaN    Butte County, California
17                     Estimate             85,219    Butte County, California
18      Median income (dollars)                NaN    Butte County, California

In [18]:
#Moving values
filter_number = ca_11_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_11_df.loc[filter_num_plus,["2011 Median Income"]]

ca_11_df.head(15)

                         County 2011 Median Income                      county
1                         Total                NaN  Alameda County, California
2                      Estimate            536,160  Alameda County, California
3       Median income (dollars)                NaN  Alameda County, California
4                      Estimate             70,821  Alameda County, California
6                         Total                NaN   Alpine County, California
7                      Estimate                357   Alpine County, California
8       Median income (dollars)                NaN   Alpine County, California
9                      Estimate             59,018   Alpine County, California
11                        Total                NaN   Amador County, California
12                     Estimate             14,283   Amador County, California
13      Median income (dollars)                NaN   Amador County, California
14                     Estimate             56,180   Amador County, California
16                        Total                NaN    Butte County, California
17                     Estimate             85,219    Butte County, California
18      Median income (dollars)                NaN    Butte County, California

In [19]:
#Moving Median Income Values
ca_11_df['number'] = ca_11_df["2011 Median Income"].where(ca_11_df.index.isin(filter_num_plus))

#ca_10_df['number'] = ca_10_df['number'].ffill()

ca_11_df = ca_11_df.loc[~ca_11_df['2011 Median Income'].isnull()]

ca_11_df.head(15)

,County,2011 Median Income,county,number
2,Estimate,"536,160","Alameda County, California",NaN
4,Estimate,"70,821","Alameda County, California",NaN
7,Estimate,357,"Alpine County, California",NaN
9,Estimate,"59,018","Alpine County, California",NaN
12,Estimate,"14,283","Amador County, California",NaN
14,Estimate,"56,180","Amador County, California",NaN
17,Estimate,"85,219","Butte County, California",NaN
19,Estimate,"42,971","Butte County, California",NaN
22,Estimate,"18,865","Calaveras County, California",NaN
24,Estimate,"55,256","Calaveras County, California",NaN
27,Estimate,"6,989","Colusa County, California",NaN
29,Estimate,"49,558","Colusa County, California",NaN
32,Estimate,"370,925","Contra Costa County, California",NaN
34,Estimate,"79,135","Contra Costa County, California",NaN
37,Estimate,"9,818","Del Norte County, California",NaN

In [20]:
#Drop unnecessary columns
ca_11_df = ca_11_df.reset_index(drop=True)

ca_11_df = ca_11_df.drop(["County","number"], axis=1)

ca_11_df.head(15)

   2011 Median Income                           county
0             536,160       Alameda County, California
1              70,821       Alameda County, California
2                 357        Alpine County, California
3              59,018        Alpine County, California
4              14,283        Amador County, California
5              56,180        Amador County, California
6              85,219         Butte County, California
7              42,971         Butte County, California
8              18,865     Calaveras County, California
9              55,256     Calaveras County, California
10              6,989        Colusa County, California
11             49,558        Colusa County, California
12            370,925  Contra Costa County, California
13             79,135  Contra Costa County, California
14              9,818     Del Norte County, California

In [21]:
#Only keep every other row (actual median income value)

ca_11_df = ca_11_df.iloc[1::2]

ca_11_df.head(15)

   2011 Median Income                           county
1              70,821       Alameda County, California
3              59,018        Alpine County, California
5              56,180        Amador County, California
7              42,971         Butte County, California
9              55,256     Calaveras County, California
11             49,558        Colusa County, California
13             79,135  Contra Costa County, California
15             37,588     Del Norte County, California
17             68,815     El Dorado County, California
19             46,903        Fresno County, California
21             43,239         Glenn County, California
23             40,376      Humboldt County, California
25             39,402      Imperial County, California
27             49,571          Inyo County, California
29             48,021          Kern County, California

In [22]:
#Only keep county names
ca_11_df["county"] = ca_11_df["county"].str.replace(", California", "")

ca_11_df.head(10)

   2011 Median Income               county
1              70,821       Alameda County
3              59,018        Alpine County
5              56,180        Amador County
7              42,971         Butte County
9              55,256     Calaveras County
11             49,558        Colusa County
13             79,135  Contra Costa County
15             37,588     Del Norte County
17             68,815     El Dorado County
19             46,903        Fresno County

In [23]:
#Reset index and rename column
ca_11_df = ca_11_df.reset_index(drop=True)

ca_11_df.rename(columns={"county":"County"},inplace=True)

ca_11_df.head(15)

   2011 Median Income               County
0              70,821       Alameda County
1              59,018        Alpine County
2              56,180        Amador County
3              42,971         Butte County
4              55,256     Calaveras County
5              49,558        Colusa County
6              79,135  Contra Costa County
7              37,588     Del Norte County
8              68,815     El Dorado County
9              46,903        Fresno County
10             43,239         Glenn County
11             40,376      Humboldt County
12             39,402      Imperial County
13             49,571          Inyo County
14             48,021          Kern County

In [24]:
ca_Clean11_df = ca_11_df.set_index("County")

ca_Clean11_df.head(10)

                    2011 Median Income
County
Alameda County                  70,821
Alpine County                   59,018
Amador County                   56,180
Butte County                    42,971
Calaveras County                55,256
Colusa County                   49,558
Contra Costa County             79,135
Del Norte County                37,588
El Dorado County                68,815
Fresno County                   46,903

**2012 Data**

In [26]:
#2012 Data
print("Shape:",ca_raw_12_df.shape)
display(ca_raw_12_df.columns)
display(ca_raw_12_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    539,179
3      Median income (dollars)        NaN
4                     Estimate     71,516
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        385
8      Median income (dollars)        NaN
9                     Estimate     59,931

In [27]:
#Rename 2012 Columns
ca_12_df = ca_raw_12_df.rename(columns={"Label (Grouping)":"County","Households":"2012 Median Income"})
ca_12_df.head(10)

                        County 2012 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            539,179
3      Median income (dollars)                NaN
4                     Estimate             71,516
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                385
8      Median income (dollars)                NaN
9                     Estimate             59,931

In [28]:
#Moving County names
ca_12_df['county'] = ca_12_df['County'].where(ca_12_df['County'].str.contains('County'))

ca_12_df['county'] = ca_12_df['county'].ffill()

ca_12_df = ca_12_df.loc[~ca_12_df['County'].str.contains('County')]

#Moving values
filter_number = ca_12_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_12_df.loc[filter_num_plus,["2012 Median Income"]]

#Moving Median Income Values
ca_12_df['number'] = ca_12_df["2012 Median Income"].where(ca_12_df.index.isin(filter_num_plus))

#ca_10_df['number'] = ca_10_df['number'].ffill()

ca_12_df = ca_12_df.loc[~ca_12_df['2012 Median Income'].isnull()]

#Drop unnecessary columns
ca_12_df = ca_12_df.reset_index(drop=True)

ca_12_df = ca_12_df.drop(["County","number"], axis=1)

#Only keep every other row (actual median income value)

ca_12_df = ca_12_df.iloc[1::2]

#Only keep county names
ca_12_df["county"] = ca_12_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_12_df = ca_12_df.reset_index(drop=True)

ca_12_df.rename(columns={"county":"County"},inplace=True)

ca_Clean12_df = ca_12_df.set_index("County")

ca_Clean12_df.head(10)

                    2012 Median Income
County
Alameda County                  71,516
Alpine County                   59,931
Amador County                   53,462
Butte County                    43,339
Calaveras County                54,686
Colusa County                   52,165
Contra Costa County             78,187
Del Norte County                39,626
El Dorado County                70,117
Fresno County                   45,741

**2013 Data**

In [56]:
#2013 Data
print("Shape:",ca_raw_13_df.shape)
display(ca_raw_13_df.columns)
display(ca_raw_13_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    545,071
3      Median income (dollars)        NaN
4                     Estimate     72,112
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        394
8      Median income (dollars)        NaN
9                     Estimate     58,636

In [58]:
#Rename 2013 Columns
ca_13_df = ca_raw_13_df.rename(columns={"Label (Grouping)":"County","Households":"2013 Median Income"})
ca_13_df.head(10)

                        County 2013 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            545,071
3      Median income (dollars)                NaN
4                     Estimate             72,112
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                394
8      Median income (dollars)                NaN
9                     Estimate             58,636

In [60]:
#Moving County names
ca_13_df['county'] = ca_13_df['County'].where(ca_13_df['County'].str.contains('County'))

ca_13_df['county'] = ca_13_df['county'].ffill()

ca_13_df = ca_13_df.loc[~ca_13_df['County'].str.contains('County')]

#Moving values
filter_number = ca_13_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_13_df.loc[filter_num_plus,["2013 Median Income"]]

#Moving Median Income Values
ca_13_df['number'] = ca_13_df["2013 Median Income"].where(ca_13_df.index.isin(filter_num_plus))

#ca_10_df['number'] = ca_10_df['number'].ffill()

ca_13_df = ca_13_df.loc[~ca_13_df['2013 Median Income'].isnull()]

#Drop unnecessary columns
ca_13_df = ca_13_df.reset_index(drop=True)

ca_13_df = ca_13_df.drop(["County","number"], axis=1)

#Only keep every other row (actual median income value)

ca_13_df = ca_13_df.iloc[1::2]

#Only keep county names
ca_13_df["county"] = ca_13_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_13_df = ca_13_df.reset_index(drop=True)

ca_13_df.rename(columns={"county":"County"},inplace=True)

ca_Clean13_df = ca_13_df.set_index("County")

ca_Clean13_df.head(10)

                    2013 Median Income
County
Alameda County                  72,112
Alpine County                   58,636
Amador County                   53,684
Butte County                    43,752
Calaveras County                55,295
Colusa County                   52,158
Contra Costa County             78,756
Del Norte County                37,909
El Dorado County                69,297
Fresno County                   45,563

**2014 Data**

In [63]:
#2014 Data
print("Shape:",ca_raw_14_df.shape)
display(ca_raw_14_df.columns)
display(ca_raw_14_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    551,734
3      Median income (dollars)        NaN
4                     Estimate     73,775
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        377
8      Median income (dollars)        NaN
9                     Estimate     61,343

In [65]:
#Rename 2014 Columns
ca_14_df = ca_raw_14_df.rename(columns={"Label (Grouping)":"County","Households":"2014 Median Income"})
ca_14_df.head(10)

                        County 2014 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            551,734
3      Median income (dollars)                NaN
4                     Estimate             73,775
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                377
8      Median income (dollars)                NaN
9                     Estimate             61,343

In [67]:
#Moving County names
ca_14_df['county'] = ca_14_df['County'].where(ca_14_df['County'].str.contains('County'))

ca_14_df['county'] = ca_14_df['county'].ffill()

ca_14_df = ca_14_df.loc[~ca_14_df['County'].str.contains('County')]

#Moving values
filter_number = ca_14_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_14_df.loc[filter_num_plus,["2014 Median Income"]]

#Moving Median Income Values
ca_14_df['number'] = ca_14_df["2014 Median Income"].where(ca_14_df.index.isin(filter_num_plus))

#ca_10_df['number'] = ca_10_df['number'].ffill()

ca_14_df = ca_14_df.loc[~ca_14_df['2014 Median Income'].isnull()]

#Drop unnecessary columns
ca_14_df = ca_14_df.reset_index(drop=True)

ca_14_df = ca_14_df.drop(["County","number"], axis=1)

#Only keep every other row (actual median income value)

ca_14_df = ca_14_df.iloc[1::2]

#Only keep county names
ca_14_df["county"] = ca_14_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_14_df = ca_14_df.reset_index(drop=True)

ca_14_df.rename(columns={"county":"County"},inplace=True)

ca_Clean14_df = ca_14_df.set_index("County")

ca_Clean14_df.head(10)

                    2014 Median Income
County
Alameda County                  73,775
Alpine County                   61,343
Amador County                   52,964
Butte County                    43,165
Calaveras County                54,936
Colusa County                   50,503
Contra Costa County             79,799
Del Norte County                39,302
El Dorado County                68,507
Fresno County                   45,201

**2015 Data**

In [70]:
#2015 Data
print("Shape:",ca_raw_15_df.shape)
display(ca_raw_15_df.columns)
display(ca_raw_15_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    558,907
3      Median income (dollars)        NaN
4                     Estimate     75,619
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        358
8      Median income (dollars)        NaN
9                     Estimate     52,917

In [72]:
#Rename 2015 Columns
ca_15_df = ca_raw_15_df.rename(columns={"Label (Grouping)":"County","Households":"2015 Median Income"})
ca_15_df.head(10)

                        County 2015 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            558,907
3      Median income (dollars)                NaN
4                     Estimate             75,619
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                358
8      Median income (dollars)                NaN
9                     Estimate             52,917

In [74]:
#Moving County names
ca_15_df['county'] = ca_15_df['County'].where(ca_15_df['County'].str.contains('County'))

ca_15_df['county'] = ca_15_df['county'].ffill()

ca_15_df = ca_15_df.loc[~ca_15_df['County'].str.contains('County')]

#Moving values
filter_number = ca_15_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_15_df.loc[filter_num_plus,["2015 Median Income"]]

#Moving Median Income Values
ca_15_df['number'] = ca_15_df["2015 Median Income"].where(ca_15_df.index.isin(filter_num_plus))

#ca_10_df['number'] = ca_10_df['number'].ffill()

ca_15_df = ca_15_df.loc[~ca_15_df['2015 Median Income'].isnull()]

#Drop unnecessary columns
ca_15_df = ca_15_df.reset_index(drop=True)

ca_15_df = ca_15_df.drop(["County","number"], axis=1)

#Only keep every other row (actual median income value)

ca_15_df = ca_15_df.iloc[1::2]

#Only keep county names
ca_15_df["county"] = ca_15_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_15_df = ca_15_df.reset_index(drop=True)

ca_15_df.rename(columns={"county":"County"},inplace=True)

ca_Clean15_df = ca_15_df.set_index("County")

ca_Clean15_df.head(10)

                    2015 Median Income
County
Alameda County                  75,619
Alpine County                   52,917
Amador County                   54,171
Butte County                    43,444
Calaveras County                53,233
Colusa County                   52,168
Contra Costa County             80,185
Del Norte County                40,847
El Dorado County                69,584
Fresno County                   45,233

**2016 Data**

In [77]:
#2016 Data
print("Shape:",ca_raw_16_df.shape)
display(ca_raw_16_df.columns)
display(ca_raw_16_df.head(10))

Shape: (290, 2)

Index(['Label (Grouping)', 'Households'], dtype='object')

              Label (Grouping) Households
0   Alameda County, California        NaN
1                        Total        NaN
2                     Estimate    564,293
3      Median income (dollars)        NaN
4                     Estimate     79,831
5    Alpine County, California        NaN
6                        Total        NaN
7                     Estimate        343
8      Median income (dollars)        NaN
9                     Estimate     62,375

In [79]:
#Rename 2016 Columns
ca_16_df = ca_raw_16_df.rename(columns={"Label (Grouping)":"County","Households":"2016 Median Income"})
ca_16_df.head(10)

                        County 2016 Median Income
0   Alameda County, California                NaN
1                        Total                NaN
2                     Estimate            564,293
3      Median income (dollars)                NaN
4                     Estimate             79,831
5    Alpine County, California                NaN
6                        Total                NaN
7                     Estimate                343
8      Median income (dollars)                NaN
9                     Estimate             62,375

In [81]:
#Moving County names
ca_16_df['county'] = ca_16_df['County'].where(ca_16_df['County'].str.contains('County'))

ca_16_df['county'] = ca_16_df['county'].ffill()

ca_16_df = ca_16_df.loc[~ca_16_df['County'].str.contains('County')]

#Moving values
filter_number = ca_16_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_16_df.loc[filter_num_plus,["2016 Median Income"]]

#Moving Median Income Values
ca_16_df['number'] = ca_16_df["2016 Median Income"].where(ca_16_df.index.isin(filter_num_plus))

#ca_10_df['number'] = ca_10_df['number'].ffill()

ca_16_df = ca_16_df.loc[~ca_16_df['2016 Median Income'].isnull()]

#Drop unnecessary columns
ca_16_df = ca_16_df.reset_index(drop=True)

ca_16_df = ca_16_df.drop(["County","number"], axis=1)

#Only keep every other row (actual median income value)

ca_16_df = ca_16_df.iloc[1::2]

#Only keep county names
ca_16_df["county"] = ca_16_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_16_df = ca_16_df.reset_index(drop=True)

ca_16_df.rename(columns={"county":"County"},inplace=True)

ca_Clean16_df = ca_16_df.set_index("County")

ca_Clean16_df.head(10)

                    2016 Median Income
County
Alameda County                  79,831
Alpine County                   62,375
Amador County                   57,032
Butte County                    44,366
Calaveras County                53,502
Colusa County                   54,946
Contra Costa County             82,881
Del Norte County                42,363
El Dorado County                72,586
Fresno County                   45,963

**2017 Data**

In [84]:
#2017 Data
print("Shape:",ca_raw_17_df.shape)
display(ca_raw_17_df.columns)
display(ca_raw_17_df.head(10))

Shape: (406, 2)

Index(['Label (Grouping)', 'HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households'], dtype='object')

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households
0,"Alameda County, California",NaN
1,Number,NaN
2,Estimate,"569,070"
3,Percent Distribution,NaN
4,Estimate,"569,070"
5,Median income (dollars),NaN
6,Estimate,"85,743"
7,"Alpine County, California",NaN
8,Number,NaN
9,Estimate,304

In [86]:
#Rename 2017 Columns
ca_17_df = ca_raw_17_df.rename(columns={"Label (Grouping)":"County","HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households":"2017 Median Income"})
ca_17_df.head(15)

                         County 2017 Median Income
0    Alameda County, California                NaN
1                        Number                NaN
2                      Estimate            569,070
3          Percent Distribution                NaN
4                      Estimate            569,070
5       Median income (dollars)                NaN
6                      Estimate             85,743
7     Alpine County, California                NaN
8                        Number                NaN
9                      Estimate                304
10         Percent Distribution                NaN
11                     Estimate                304
12      Median income (dollars)                NaN
13                     Estimate             63,438
14    Amador County, California                NaN

In [88]:
#Moving County names
ca_17_df['county'] = ca_17_df['County'].where(ca_17_df['County'].str.contains('County'))

ca_17_df['county'] = ca_17_df['county'].ffill()

ca_17_df = ca_17_df.loc[~ca_17_df['County'].str.contains('County')]

#Moving values
filter_number = ca_17_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_17_df.loc[filter_num_plus,["2017 Median Income"]]

#Moving Median Income Values
ca_17_df['number'] = ca_17_df["2017 Median Income"].where(ca_17_df.index.isin(filter_num_plus))

ca_17_df['number'] = ca_17_df['number'].ffill()

ca_17_df = ca_17_df.loc[~ca_17_df['2017 Median Income'].isnull()]

#Drop unnecessary columns
ca_17_df = ca_17_df.reset_index()

ca_17_df = ca_17_df.drop(["index","County","number"], axis=1)

#Only keep every third row (actual median income value)

ca_17_df = ca_17_df.iloc[2::3]

ca_17_df.head(15)

#Only keep county names
ca_17_df["county"] = ca_17_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_17_df = ca_17_df.reset_index(drop=True)

ca_17_df.rename(columns={"county":"County"},inplace=True)

ca_Clean17_df = ca_17_df.set_index("County")

ca_Clean17_df.head(15)

                    2017 Median Income
County
Alameda County                  85,743
Alpine County                   63,438
Amador County                   60,636
Butte County                    46,516
Calaveras County                54,800
Colusa County                   56,481
Contra Costa County             88,456
Del Norte County                41,287
El Dorado County                74,885
Fresno County                   48,730
Glenn County                    46,260
Humboldt County                 43,718
Imperial County                 44,779
Inyo County                     51,500
Kern County                     50,826

**2018 Data**

In [91]:
#2018 Data
print("Shape:",ca_raw_18_df.shape)
display(ca_raw_18_df.columns)
display(ca_raw_18_df.head(10))

Shape: (406, 2)

Index(['Label (Grouping)', 'HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households'], dtype='object')

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households
0,"Alameda County, California",NaN
1,Number,NaN
2,Estimate,"572,870"
3,Percent Distribution,NaN
4,Estimate,"572,870"
5,Median income (dollars),NaN
6,Estimate,"92,574"
7,"Alpine County, California",NaN
8,Number,NaN
9,Estimate,299

In [93]:
#Rename 2018 Columns
ca_18_df = ca_raw_18_df.rename(columns={"Label (Grouping)":"County","HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households":"2018 Median Income"})
ca_18_df.head(15)

                         County 2018 Median Income
0    Alameda County, California                NaN
1                        Number                NaN
2                      Estimate            572,870
3          Percent Distribution                NaN
4                      Estimate            572,870
5       Median income (dollars)                NaN
6                      Estimate             92,574
7     Alpine County, California                NaN
8                        Number                NaN
9                      Estimate                299
10         Percent Distribution                NaN
11                     Estimate                299
12      Median income (dollars)                NaN
13                     Estimate             64,688
14    Amador County, California                NaN

In [95]:
#Moving County names
ca_18_df['county'] = ca_18_df['County'].where(ca_18_df['County'].str.contains('County'))

ca_18_df['county'] = ca_18_df['county'].ffill()

ca_18_df = ca_18_df.loc[~ca_18_df['County'].str.contains('County')]

#Moving values
filter_number = ca_18_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_18_df.loc[filter_num_plus,["2018 Median Income"]]

#Moving Median Income Values
ca_18_df['number'] = ca_18_df["2018 Median Income"].where(ca_18_df.index.isin(filter_num_plus))

ca_18_df['number'] = ca_18_df['number'].ffill()

ca_18_df = ca_18_df.loc[~ca_18_df['2018 Median Income'].isnull()]

#Drop unnecessary columns
ca_18_df = ca_18_df.reset_index()

ca_18_df = ca_18_df.drop(["index","County","number"], axis=1)

#Only keep every third row (actual median income value)

ca_18_df = ca_18_df.iloc[2::3]

ca_18_df.head(15)

#Only keep county names
ca_18_df["county"] = ca_18_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_18_df = ca_18_df.reset_index(drop=True)

ca_18_df.rename(columns={"county":"County"},inplace=True)

ca_Clean18_df = ca_18_df.set_index("County")

ca_Clean18_df.head(15)

                    2018 Median Income
County
Alameda County                  92,574
Alpine County                   64,688
Amador County                   61,198
Butte County                    48,443
Calaveras County                58,151
Colusa County                   56,704
Contra Costa County             93,712
Del Norte County                45,258
El Dorado County                80,582
Fresno County                   51,261
Glenn County                    47,395
Humboldt County                 45,528
Imperial County                 45,834
Inyo County                     52,874
Kern County                     52,479

**2019 Data**

In [98]:
#2019 Data
print("Shape:",ca_raw_19_df.shape)
display(ca_raw_19_df.columns)
display(ca_raw_19_df.head(10))

Shape: (406, 2)

Index(['Label (Grouping)', 'HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households'], dtype='object')

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households
0,"Alameda County, California",NaN
1,Number,NaN
2,Estimate,"577,177"
3,Percent Distribution,NaN
4,Estimate,"577,177"
5,Median income (dollars),NaN
6,Estimate,"99,406"
7,"Alpine County, California",NaN
8,Number,NaN
9,Estimate,350

In [100]:
#Rename 2019 Columns
ca_19_df = ca_raw_19_df.rename(columns={"Label (Grouping)":"County","HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households":"2019 Median Income"})
ca_19_df.head(15)

                         County 2019 Median Income
0    Alameda County, California                NaN
1                        Number                NaN
2                      Estimate            577,177
3          Percent Distribution                NaN
4                      Estimate            577,177
5       Median income (dollars)                NaN
6                      Estimate             99,406
7     Alpine County, California                NaN
8                        Number                NaN
9                      Estimate                350
10         Percent Distribution                NaN
11                     Estimate                350
12      Median income (dollars)                NaN
13                     Estimate             63,750
14    Amador County, California                NaN

In [102]:
#Moving County names
ca_19_df['county'] = ca_19_df['County'].where(ca_19_df['County'].str.contains('County'))

ca_19_df['county'] = ca_19_df['county'].ffill()

ca_19_df = ca_19_df.loc[~ca_19_df['County'].str.contains('County')]

#Moving values
filter_number = ca_19_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_19_df.loc[filter_num_plus,["2019 Median Income"]]

#Moving Median Income Values
ca_19_df['number'] = ca_19_df["2019 Median Income"].where(ca_19_df.index.isin(filter_num_plus))

ca_19_df['number'] = ca_19_df['number'].ffill()

ca_19_df = ca_19_df.loc[~ca_19_df['2019 Median Income'].isnull()]

#Drop unnecessary columns
ca_19_df = ca_19_df.reset_index()

ca_19_df = ca_19_df.drop(["index","County","number"], axis=1)

#Only keep every third row (actual median income value)

ca_19_df = ca_19_df.iloc[2::3]

ca_19_df.head(15)

#Only keep county names
ca_19_df["county"] = ca_19_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_19_df = ca_19_df.reset_index(drop=True)

ca_19_df.rename(columns={"county":"County"},inplace=True)

ca_Clean19_df = ca_19_df.set_index("County")

ca_Clean19_df.head(15)

                    2019 Median Income
County
Alameda County                  99,406
Alpine County                   63,750
Amador County                   62,772
Butte County                    52,537
Calaveras County                63,158
Colusa County                   59,401
Contra Costa County             99,716
Del Norte County                45,283
El Dorado County                83,377
Fresno County                   53,969
Glenn County                    49,633
Humboldt County                 48,041
Imperial County                 47,622
Inyo County                     57,316
Kern County                     53,350

**2020 Data**

In [105]:
#2020 Data
print("Shape:",ca_raw_20_df.shape)
display(ca_raw_20_df.columns)
display(ca_raw_20_df.head(10))

Shape: (406, 2)

Index(['Label (Grouping)', 'HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households'], dtype='object')

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households
0,"Alameda County, California",NaN
1,Number,NaN
2,Estimate,"573,174"
3,Percent Distribution,NaN
4,Estimate,"573,174"
5,Median income (dollars),NaN
6,Estimate,"104,888"
7,"Alpine County, California",NaN
8,Number,NaN
9,Estimate,397

In [107]:
#Rename 2020 Columns
ca_20_df = ca_raw_20_df.rename(columns={"Label (Grouping)":"County","HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households":"2020 Median Income"})
ca_20_df.head(15)

                         County 2020 Median Income
0    Alameda County, California                NaN
1                        Number                NaN
2                      Estimate            573,174
3          Percent Distribution                NaN
4                      Estimate            573,174
5       Median income (dollars)                NaN
6                      Estimate            104,888
7     Alpine County, California                NaN
8                        Number                NaN
9                      Estimate                397
10         Percent Distribution                NaN
11                     Estimate                397
12      Median income (dollars)                NaN
13                     Estimate             85,750
14    Amador County, California                NaN

In [109]:
#Moving County names
ca_20_df['county'] = ca_20_df['County'].where(ca_20_df['County'].str.contains('County'))

ca_20_df['county'] = ca_20_df['county'].ffill()

ca_20_df = ca_20_df.loc[~ca_20_df['County'].str.contains('County')]

#Moving values
filter_number = ca_20_df["County"].str.contains("Number")

filter_num_true = filter_number.loc[filter_number].index

filter_num_plus = filter_number.loc[filter_number].index+1

value = ca_20_df.loc[filter_num_plus,["2020 Median Income"]]

#Moving Median Income Values
ca_20_df['number'] = ca_20_df["2020 Median Income"].where(ca_20_df.index.isin(filter_num_plus))

ca_20_df['number'] = ca_20_df['number'].ffill()

ca_20_df = ca_20_df.loc[~ca_20_df['2020 Median Income'].isnull()]

#Drop unnecessary columns
ca_20_df = ca_20_df.reset_index()

ca_20_df = ca_20_df.drop(["index","County","number"], axis=1)

#Only keep every third row (actual median income value)

ca_20_df = ca_20_df.iloc[2::3]

ca_20_df.head(15)

#Only keep county names
ca_20_df["county"] = ca_20_df["county"].str.replace(", California", "")

#Reset index and rename column
ca_20_df = ca_20_df.reset_index(drop=True)

ca_20_df.rename(columns={"county":"County"},inplace=True)

ca_Clean20_df = ca_20_df.set_index("County")

ca_Clean20_df.head(15)

                    2020 Median Income
County
Alameda County                 104,888
Alpine County                   85,750
Amador County                   65,187
Butte County                    54,972
Calaveras County                67,054
Colusa County                   59,427
Contra Costa County            103,997
Del Norte County                49,981
El Dorado County                83,710
Fresno County                   57,109
Glenn County                    51,682
Humboldt County                 49,235
Imperial County                 46,222
Inyo County                     59,296
Kern County                     54,851

**Join DataFrames**

In [112]:
ca_county_income_df = ca_Clean10_df.join(ca_Clean11_df).join(ca_Clean12_df).join(ca_Clean13_df).join(ca_Clean14_df).join(ca_Clean15_df).join(ca_Clean16_df).join(ca_Clean17_df).join(ca_Clean18_df).join(ca_Clean19_df).join(ca_Clean20_df)

print("Shape:",ca_county_income_df.shape)
ca_county_income_df.head(10)

Shape: (58, 11)

,2010 Median Income,2011 Median Income,2012 Median Income,2013 Median Income,2014 Median Income,2015 Median Income,2016 Median Income,2017 Median Income,2018 Median Income,2019 Median Income,2020 Median Income
County,,,,,,,,,,,
Alameda County,"69,384","70,821","71,516","72,112","73,775","75,619","79,831","85,743","92,574","99,406","104,888"
Alpine County,"63,478","59,018","59,931","58,636","61,343","52,917","62,375","63,438","64,688","63,750","85,750"
Amador County,"54,758","56,180","53,462","53,684","52,964","54,171","57,032","60,636","61,198","62,772","65,187"
Butte County,"43,170","42,971","43,339","43,752","43,165","43,444","44,366","46,516","48,443","52,537","54,972"
Calaveras County,"54,971","55,256","54,686","55,295","54,936","53,233","53,502","54,800","58,151","63,158","67,054"
Colusa County,"48,016","49,558","52,165","52,158","50,503","52,168","54,946","56,481","56,704","59,401","59,427"
Contra Costa County,"78,385","79,135","78,187","78,756","79,799","80,185","82,881","88,456","93,712","99,716","103,997"
Del Norte County,"36,118","37,588","39,626","37,909","39,302","40,847","42,363","41,287","45,258","45,283","49,981"
El Dorado County,"70,000","68,815","70,117","69,297","68,507","69,584","72,586","74,885","80,582","83,377","83,710"
Fresno County,"46,430","46,903","45,741","45,563","45,201","45,233","45,963","48,730","51,261","53,969","57,109"

In [114]:
#Export results to .csv
file_name = "ca_county_income.csv"
file_path = Path(f"../../../../data/processed_data/{file_name}")

if file_path.exists():
    print("File already exists. Overwriting file.")
    file_path.unlink()

if not file_path.exists():
    print("Creating file...")
    ca_county_income_df.to_csv(file_path, index=True)
    print(f"File saved as {file_name}")

Creating file...
File saved as ca_county_income.csv